.main-container{
    width: 1170px;
}
.header-minicart .skip-cart .icon {
    background-position: 0 -94px;
    display: inline-block;
    height: 19px;
    margin-left: 6px;
    position: relative;
    top: -6px;
}
.header-minicart .account-cart-wrapper > DIV{
    padding-top: 0px!important;
}
.header-minicart .skip-cart .count {
    top:3px;
}
.slideshow-next{
    top: 65%;
}
.share{
    top: 85%;
}
.content-block{
    top: 15%;
    left: 15%;
    background: url(../images/ie/bg-transparent.png) repeat 0 0;
}
.content-block20{
    top: 20%;
    left: 5%;
}
.category-footer .category-description{
    top: 10%;
}
input[type='search']{
    line-height: 3;
}
input[type='text']{
    line-height: 2;
}
.products-grid--max-4-col > li {
    width: 22%;
    margin-right: 2%;
    margin-left: 2%;
}
.products-grid > li.slvzr-nth-child40odd41{
    clear: none;
}
#st_sharethis_custom > span > span{
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

}
input[type='text'].qty{
    width: 55px;
}
.catalog-product-view .slideshow-container .slideshow > li a .content   {
    background: url(../images/ie/bg-transparent-dark.png) repeat 0 0;
    top: 25%;
}
.header-minicart .minicart-actions,
.checkout-types.minicart{
    width: 100%;
}
.cart-table{
    width: 55%;
    vertical-align: top;
}
.cart-content .cart-right{
    width: 40%;
    vertical-align: top;
}
#upsell-product-table, #upsell-product-table2{
    width: 65%;
}