.tr-break{
    height: 20px;
}
.cart-table tr{
    border-top: 1px solid #ccc;
}
.cart-table thead tr.first{
    border: none;
}
.cart-table thead tr th{
    padding: 0 17px 12px 17px;
}
#shopping-cart-table td{
    padding: 15px 0;
    background: #fff;
    vertical-align: middle;
}
.cart-content td.product-cart-image{
    border-left: 1px solid #ccc;
}
.cart-content td.product-cart-remove{
    border-right: 1px solid #ccc;
}
.cart-content .cart-right{
    float: left;
    width: -moz-calc(40% - 20px);
    width: -webkit-calc(40% - 20px);
    width: -o-calc(40% - 20px);
    width: calc(40% - 20px);
    border: 1px solid #ccc;
    margin-left: 20px;
    margin-top: 37px;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 30px;
}
.cart-forms, .cart-totals-wrapper, .crosssell{
    width: 100%;
    padding-left: 0;
}
#shopping-cart-table td a.product-image{
    margin: 0 15px;
}
.cart-content{
    padding-top: 15px;
}
.cart .page-title{
    margin-bottom: 0;
}
.cart-table .product-cart-actions .button{
    background: transparent;
    font-size: 14px;
    color: #000;
    font-family: "futura_lightregular", Verdana, Arial, sans-serif;
    text-transform: none;
    text-align: center;
    margin: auto;
}
.cart-table .product-cart-actions .qty{
    margin-bottom: 0;
}
.buttons-set button.button{
    font-family: "futura_lightregular", Verdana, Arial, sans-serif;
    padding-top: 10px;
    padding-bottom: 8px;
}
.contacts-index-index .buttons-set{
    border: none;
}
.contact-info{
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.contact-info li{
    display: block;
    text-align: center;
    float: left;
    width: 25%;
    margin-bottom: 40px;
}
.contact-info li:first-child{
    margin-left: 0;
}
.contact-info li:last-child{
    margin-right: 0;
}
.contact-info li .img {
    margin: auto;
    min-height: 100px;
}
.contact-info li .img img{
    margin: auto;
}
.contact-info li .title{
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 20px;
}
.contacts-index-index .fields{
    margin-left: -15px;
    margin-right: -15px;
}
.contacts-index-index .fields .field {
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
    float: left;
}
.contacts-index-index .fields .field .input-box input[type=text],
.contacts-index-index .fields .field .input-box input[type=email],
.contacts-index-index input[type=tel]{
    width: 100%;
}
textarea#comment{
    width: 100%;
    max-width: inherit;
}
.contacts-index-index .buttons-set{
    padding: 0;
    width: 100%;
    margin: 0;
}
.contacts-index-index .buttons-set p.required{
    margin-left: 0;
    display: block;
    width: 100%;
    text-align: right;
}
.button:hover{
    border: none;
    background: #000;
    color: #fff;
}
.cart-table .product-cart-actions .button:hover{
    color: #000;
    border: none;
    background: transparent;
}
.cart-totals-wrapper{
    margin-top: 0;
}
.cart-totals{
    background: transparent;
    border: none;
}
.a-left{
    text-align: left;
}
.cart-totals{
    text-transform: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.cart-totals tr.subtotal td,
.cart-totals tr.subtotal td .price,
.cart .cart-totals table tfoot td,
.cart .cart-totals table tfoot strong span,
.cart .cart-totals table tfoot span.price{
    font-family: 'futura-medium';
    font-size: 32px;
    text-transform: none;
}
.cart .cart-totals table tfoot td{
    padding: 0;
}
.cart-content .checkout-types{
    width: 100%;
    margin-bottom: 20px;
}
.cart-content .checkout-types .btn-checkout,
.shipping #co-shipping-method-form .buttons-set .button,
.order-review-button .amscheckout-submit{
    font-family: 'futura_lightregular';
    font-size: 20px;
    padding: 25px 0;
    width: 100%;
    text-align: center;
}
.cart-content .checkout-types .btn-checkout:hover {
    color: #fff;
   background: #000;
}
.cart .cart-totals table tfoot{
    border: none;
}
.cart .cart-totals table td{
    text-transform: none;
    font-size: 18px;
    font-family: 'futura_lightregular';
}
.btn-remove2{
    position: relative;
   /* border: 1px solid #ccc;*/
    background-position: 4px -650px;
}
.clear{
    clear: both;
}
.cart-forms .discount,#checkout-coupon{
    border: none;
    background: #f7f7f7;
    width: 100%;
    cursor: pointer;
    height: 50px;
    padding: 0;
}
#checkout-coupon{
    height: 44px;
}

.shipping-amount i{
    display: none;
}
.cart .cart-totals table td.shipping-amount{
    text-transform: capitalize;
}
.cart .cart-totals table td:first-child{
    min-width: auto;
    width: 50%;
}
.cart .discount-form{
    display: none;
    height: 100%;
    width: 100%;
}
#discount-coupon-form h2, .cart .giftcard h2{
    display: block;
    text-align: center;
    font-size: 14px;
    color: #333;
    text-transform: none;
    font-family: 'futura_lightregular';
    margin: 0;
    line-height: 49px;
    border: 1px solid #ccc;
}
#checkout-coupon label.coupon-code{
    display: none;
}
#discount-coupon-form .input-text, .cart .giftcard .input-text,
.amscheckout .discount-form input.input-text{
    width: -moz-calc(100% - 100px);
    width: -webkit-calc(100% - 100px);
    width: -o-calc(100% - 100px);
    width: calc(100% - 100px);
    float: left;
    height: 100%;
    background: #fff;
    border: 1px solid #ff7f00;
    padding: 10px;
    margin: 0;
    font-size: 14px;
    font-family: 'futura_lightregular';
}
.amscheckout .discount-form input.input-text:focus{
    outline: 0;
    box-shadow: none;
    border: none;
}
#discount-coupon-form .field-wrapper, .cart .giftcard .field-wrapper{
    height: 100%;
    width: 100%;
}
#discount-coupon-form .button-wrapper, .cart .giftcard .button-wrapper,
.coupon-buttons{
    width: 100px;
    float: left;
    background: #ff7f00;
    color: #fff;
    height: 100%;
    padding-top: 10px;
    text-align: center;
}
.coupon-buttons{
    padding-top: 0;
    text-align: center;
}
#discount-coupon-form .button-wrapper > button, .cart .giftcard .button-wrapper > button,
.coupon-buttons button{
    float: none;
    margin: auto;
}
#discount-coupon-form .button-wrapper > button span, .cart .giftcard .button-wrapper > button span,
.coupon-buttons button span{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
.address-result{
    display: none;
    border-top: 1px solid #ccc;
}
.cart-totals, .cart-forms .giftcard, .cart-forms .shipping{
    background: transparent;
    border: none;
}
.shipping .form-list .shipping-country,
.shipping .form-list .shipping-region,
.shipping .form-list .shipping-postcode{
    width: 100%;
}
.shipping .form-list label,
.sp-method-label{
    width: 50%;
    float: left;
    font-family: "futura_lightregular", Verdana, Arial, sans-serif;
    font-size: 14px;
    color: #555;
    line-height: 30px;
}
dl.sp-methods.f-right dd{
    margin-top: 10px;
}
.shipping .form-list .input-box{
    width: 50%;
    float: left;
}
.shipping .form-list input{
    width: 100%;
}
.shipping .form-list .input-box div.selector span:before{
    content: "\f107";
    font-family: 'FontAwesome';
    font-size: 14px;
    position: absolute;
    right: 10px;
}
.shipping .form-list .input-box div.selector span:after {
    border: none;
}
.shipping .form-list .input-box div.selector{
    width: 100%;
}
.shipping .form-list .input-box div.selector span{
    font-size: 12px;
    font-family: "futura_lightregular", Verdana, Arial, sans-serif;
    text-transform: uppercase;
    background: #ededed;
    color: #878787;
    border: none;
    padding: 6px 10px;
    height: 30px;
}
.nicescroll-rails{
    background: transparent;
}
.cart-full-security{
    font-family: 'Arial', sans-serif;
}
.cart-full-security [class^="col-"]{
    float: left;
    padding: 25px 0 60px 0;
    width: 18%;
    margin-left: 2%;

}
.cart-full-security .col-3{
    width: 34%;
}
.cart-full-security [class^="col-"] .title{
    font-size: 14px;
    color: #000;
}
.cart-full-security [class^="col-"] i{
    font-size: 12px;
    font-style: normal;
}
.cart-full-security [class^="col-"] .phone{
    font-size: 20px;
    color: #25698d;
    margin-top: 10px;
}
.cart-full-security .col-1 .title,
.cart-full-security .col-2 .title{
    margin-bottom: 10px;
}
.checkout-cart-index .no-item{
    margin: 20px 50px;
    min-height: 500px;
    font-family: "futura_lightregular", Verdana, Arial, sans-serif;
    line-height: 150%;
}
.checkout-cart-index .no-item a{
    text-decoration: underline;
}
.cms-page-view .main,
.contacts-index-index .main{
    margin-top: 30px;
    margin-bottom: 50px;
}
.cms-page-view .breadcrumbs{
    display: none;
}
.cms-page-view .block.block-tags{
    display: none;
}
.cms-page-view .col-left.sidebar{
    width: 20%;
    float: left;
    border: none;
}
.sidebar .block:last-of-type{
    border: none;
}
.block-cms-menu .block-account li a:hover,
.block-cms-menu  .block-cms-menu li a:hover,
.block-account li a, .block-cms-menu li a{
    text-transform: none;
    color: #000;
    font-family: verdana, tahoma, sans-serif;
    font-size: 12px;
    margin: 0;
    display: block;
    padding: 16px 10px 17px;
    border-bottom: 1px solid #eee;
}
.block-cms-menu .block-content ul li:first-child a {
    border-top: 1px solid #eee;
}
.block-cms-menu .block-content,
.block-cms-menu .block-content ul,
.block-cms-menu .block-content ul li{
    width: 100%;
}
.col-left{
    margin-left: 5%;
}
.cms-page-view .block-account li a:hover,
.cms-page-view  .block-cms-menu li a:hover,
.block-cms-menu li a.current {
    color: #ff7f00;
}
.block.block-cms-menu{
    margin-top: 20px;
}
.block-cms-menu li{
    margin: 0;
}
.block-tags .block-title{
    display: block;
    color: #000;
}
.block-title h2, .block-title h3, .block-title strong{
    color: #000;
    font-family: 'futura-medium';
    margin-bottom: 10px;
}
.tags-list,.block-tags .actions{
    font-family: "futura_lightregular", Verdana, Arial, sans-serif;
}
.cms-page-view .page-head h3,.cms-page-view .content-seperator .row2 h3,
.cms-page-view .std h1, .cms-no-route .std h1{
    font-family: 'futura-medium';
    font-size: 35px;
    text-transform: uppercase;
    line-height: 30px;
    color: #000;

}
.cms-page-view .content-seperator .row1{
    padding-bottom: 30px;
}
.cms-page-view .content-seperator .row1 img{
    width: 100%;
    height: auto;
    margin: 30px 0;
}
.cms-page-view h2{
    width: 67%;
    margin-bottom: 25px;
}
.cms-page-view .std h2, .cms-no-route .std h2{
    color: #000;
    font-family: 'futura_lightregular';
    font-size: 24px;
}
.cms-page-view .content-seperator{
    margin-bottom: 80px;

}
.cms-page-view .content-seperator p{
    margin-bottom: 20px;
    font-family: 'futura_lightregular';
    font-size: 18px;
    font-style: normal;
}
.cms-page-view .col2-left-layout .col-main,
.contacts-index-index .col2-left-layout .col-main{
    width: 70%;
    margin-right: 2%;
    border-top: 1px solid #eee;
    margin-top: 19px;
    float: left;
    padding-top: 27px;
}
.cms-page-view .col-main{
    width: 66%;
    margin-right: 4%;
}
.cms-page-view .content-seperator .row2 .items{
    width: 25%;
    margin-right: 29px;
    font-family: "futura_lightregular", Verdana, Arial, sans-serif;
    font-size: 14px;
    display: inline-block;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 27px;
}
.cms-page-view .content-seperator .row2 .items .name {
    font-size: 24px;
}
.cms-page-view .content-seperator .row2 .items .position {
    font-size: 16px;
}
.cms-page-view .content-seperator .row2 .items img{
    border: 1px solid #eee;
    width: 100%;
    height: auto;
    margin: 13px 0;
    padding: 10px;
}
.cms-page-view .content-seperator .row2 .items img:hover{
    border-color: #ff7f00;
}
.cms-page-view .col1-layout{
    padding: 0 35px;
}
.cms-page-view .col1-layout .col-main{
    width: 100%;
    margin-right: 0;
}
.cms-page-view .col1-layout .col-main .std{
    margin-left: -15px;
    margin-right: -15px;
}
.faq-left,.faq-right{
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}
.faq strong{
    margin-bottom: 15px;
    display: inline-block;
}
.faq:before {
    content: "Q";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    background: #ff7f00;
    text-align: center;
    display: inline-block;
    line-height: 31px;
    color: #fff;
}
.required,label{
    font-family: "futura_lightregular", Verdana, Arial, sans-serif;
}

/*onestepcheckout*/
.checkout-onepage-index .main{
    margin: 26px 50px 70px;
}
.checkout-onepage-index .col-main{
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
.checkout-onepage-index .amscheckout-main{
    width: 100%;
    font-size: 12px;
}
.checkout-onepage-index .three-columns{
    margin-left: -10px;
    margin-right: -10px;
}
.checkout-onepage-index .col-lg-4{
    padding-left: 10px;
    padding-right: 10px;
    width: 33.3333%;
    float: left;
    border: none;
}
.checkout-onepage-index .first-column > div,
.checkout-onepage-index .second-column .step-2,
.checkout-onepage-index .second-column .step-3,
.checkout-onepage-index .third-column > div{
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}
.amscheckout-login input.input-text, .amscheckout input.input-text{
    border-radius: 0;
}
.amscheckout-img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 27px;
    height: 27px;
}
#shipping_area
.skip-nav div.hamburger{
    display: none;
}
.zoomWrapper:before{
    background: url(../images/zoom.png) no-repeat 0 0;
    width: 41px;
    height: 42px;
    content: " ";
    right: 30px;
    top: 10px;
    position: absolute;
    z-index: 1;
}
.catalogsearch-result-index p.note-msg {
    display: block;
    clear: both;
    min-height: 100px;
    margin-left: 35px;
}
.cms-page-view .col-lg-3,.cms-page-view .col-sm-3,.cms-page-view .col-lg-12,.cms-page-view .col-sm-12,.col-lg-9,
.cms-page-view .col-lg-4{
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.cms-page-view .col-lg-4{
    width: 33.3333%;
}
.cms-page-view .col-lg-3{
    width: 25%;
}
.cms-page-view .col-lg-9{
    width: 75%;
}
.delivery-top .cms-three{
    background: #f7f7f7;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
.delivery-top .cms-three p{
    margin-bottom: 0;
    margin-top: 10px;
}
.delivery-content .cms-left,
.delivery-content .cms-right{
    border-top: 1px solid #ccc;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 0;
}
.delivery-content .cms-left{
    margin-right: 20px;
}
.delivery-content .cms-right{
    width: calc(75% - 20px);
    width: -webkit-calc(75% - 20px);
    width: -moz-calc(75% - 20px);
}
.currency-switcher div.selector{
    width: 20px;
    height: auto;
}
.delivery-content{
    padding: 20px 10px;
}
.currency-switcher div.selector span{
    /*border: solid 1px #d8d8d8;*/
    border: none;
    text-indent: -99999px;
    background-size: auto 100% !important;
    height: 15px;
    background-repeat: no-repeat;
    width: 17px;
    padding: 0;
    margin: 0;
    background-position: center;
    margin-top: 2px;
}
.currency-switcher div.selector span:after {
    content: none;
}
.cms-page-view .col-lg-4.delivery-top{
    padding-left: 7px;
    padding-right: 7px;
 }

/*begin responsive*/
@media screen and (min-width: 1200px) {

}
@media screen and (min-width: 1920px){
    .block1 img, .block1 a img,
    .row img{
        position: relative;
        height: auto;
        width: 100%;
        vertical-align: top;
        display: block;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        left: 0;
    }
}
.block1 img.unresize, .block1 a img.unresize,.row img.unresize{
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
    display: inline-block !important;
    transform: translate(-50%,-50%) !important;
    -webkit-transform: translate(-50%,-50%) !important;
    -moz-transform: translate(-50%,-50%) !important;
    -ms-transform: translate(-50%,-50%) !important;
    -o-transform: translate(-50%,-50%) !important;
    height: 100%;
    width: auto;
}

/* Small and medium devices */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .newsletter-signup{
        display: none;
    }
    .skip-search .icon, .skip-nav .icon{
        display: block;
        height: 56px;
    }
    .skip-search .icon,
    .skip-search:not(.skip-active):hover .icon{
        background-position: 0 -133px;
    }
    .category-top .category-title h1{
        font-size: 25px;
    }
    .block-layered-nav .block-content > dl > dt{
        margin: 6px 10px 0;
    }
    .toolbar_top .toolbar{
        margin-top: 4px;
    }
    .sorter{
        margin-bottom: 0;
    }
    .sorter > .sort-by{
        height: 28px;
    }
    .product-img-box,
    .product-view .product-shop{
        width: 100%;
        overflow: hidden;
    }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {



}
@media screen and (max-width: 991px) and (min-width: 768px){
    .product-img-box{
        overflow: hidden;
    }
    .display-single-price .cart-totals-wrapper{
        margin-top: 0;
    }
    .cart-table{
        margin-bottom: 0;
    }
    .display-single-price .cart-forms,
    .display-single-price .cart-totals-wrapper,
    .display-single-price .crosssell{
        width: 100%;
    }
    .sidebar .block:last-of-type,.sidebar .block:not(.block-layered-nav) .block-content{
        border: none;
    }
    .content-seperator .row2{
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .display-single-price .cart-totals-wrapper{
        margin-top: 0;
    }
    .cart-table{
        margin-bottom: 0;
    }
    .display-single-price .cart-forms,
    .display-single-price .cart-totals-wrapper,
    .display-single-price .crosssell{
        width: 100%;
    }
    .cart-full-security [class^="col-"]{
        display: block;
        text-align: center;
        width: 100%;
        margin-left: 0;
    }
    .cart-full-security [class^="col-"] img{
        margin: auto;

    }


}
@media only screen and (max-width: 979px){
    .cart-content .cart-right{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}
@media screen and (max-width: 1024px){
    .amquickview-hover {
        display: none !important;
    }
    .header-language-background{
        height: 8px;
        padding: 0;
    }
    .header-minicart .label,
    .skip-search .label,
    .currency, .wishlist-link, .skip-account,
    .skip-account .icon,
    .custom-service,
    .currency-switcher{
        display: none;
    }
    .account-cart-wrapper a.skip-account:after{
        content: none;
    }
    .page-header {
        height: 56px;
    }

    header.page-header .page-header-container,
    .skip-links{
        height: 100%;
    }
    .skip-links .logo {
        padding: 0;
        width: 42%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    .logo.logo-small {
        display: block;
    }
    .logo.logo-large {
        display: none;
    }
    .skip-search .icon, .skip-nav .icon{
        display: block;
        height: 56px;
    }
    .skip-search .icon,
    .skip-search:not(.skip-active):hover .icon{
        background-position: 0 -133px;
    }
    #header-search,
    #header-nav{
        display: none;
    }
    #header-search.skip-active{
        display: block;
        position: absolute;
        left: 0;
        top: 56px;
        width: 100%;
        height: 74px;
        background: #ccc;
    }
    #header-nav.skip-active{
        display: block;
        position: absolute;
        top: 56px;
        left: 0;
        z-index: 99999;
        width: 80%;
        background: #ccc;
        margin: 0;
    }
    .skip-account {
        background: url(../images/icon_sprite@2x.png);
        background-position: 4px -44px;
    }

    .skip-link:last-child {
        border-right: 0;
    }
    .skip-cart .count {
        top: 16px;
        right: 12px;
    }
    .logo .small{
        margin: 17px auto auto;
        width: 130px;
    }
    .skip-nav{
        width: 45px;
    }
    .account-cart-wrapper a.skip-account{
        top: 8px;
        z-index: 2;
        right: 58px;
        position: absolute;
        width: 45px;
        height: 55px;
        background-position: 24px -31px;
        background-size: 94px 997px;
    }
    .account-cart-wrapper a.skip-link:after{
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
    .wishlist-link a:after{
        display: none;
    }
    .header-minicart {
        position: absolute;
        display: block;
        z-index: 2;
        top: 8px;
        height: 55px;
        width: 55px;
        right: -9px;
    }
    .account-cart-wrapper a.skip-account span.label{
        display: none;
    }
    .account-cart-wrapper a.skip-cart{
        height: 100%;
        width: 100%;
    }
    .account-cart-wrapper > div,
    .account-cart-wrapper > a{
        padding-top: 0;
        z-index: 9999;
    }
    .skip-cart .icon{
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    #header-cart.skip-active{
        top: 56px;
        right: 15px;
    }
    .skip-cart .count, .skip-link.skip-active .count{
        top: 17px;
        right: 6px;
    }
    /*skip-account*/
    #header-account.skip-active{
        top: 56px;
        right: 0;
    }
    /*skip-nav*/
    .nav-bar{
        display: block;
        text-align: left;
        float: none;
        clear: both;
    }
    .btn-toggle{
        padding-left: 15px;
    }
    .inner-toggle{
        display: block;
    }
    .nav, nav.nav {
        width: 100%;
        box-sizing: border-box;
        top: 0px;
        min-width: inherit;
    }
    .inner-toggle,.inner-toggle.active{
        display: block;
        position: relative;
    }
    .menu-top{
        height: auto;
    }

    .menu-top li:hover a {
        color: #ff7f00;
    }
    .cate-products .menu-top li:before {
        width: 0;
        content: " ";
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        z-index: -1;
        /*-webkit-transition: 0.5s linear;
        -moz-transition: 0.5s linear;
        -o-transition: 0.5s linear;
        -ms-transition: 0.5s linear;
        transition: 0.5s linear;*/
    }
    .cate-products .menu-top li:hover:before{
        width: 100%;
    }
    .menu-top li a{
        padding: 0;
    }
    .menu-top li a span.icon{
        float: left;
        width: 15%;
        background-position: top left;
        margin-right: 10px;
        background-size: auto 200%;
        height: 30px;
    }
    .cate-designers ul.menu-top li {
        float: left;
        width: 50%;
        clear: none;
    }
    .cate-designers .menu-top li a{
        padding-top: 0;
    }
    .menu-top li:hover a span.icon{
        background-position: left 100%;
    }
    .menu-top li a span{
        float: left;
    }
    .btn-toggle.active span{
        background: transparent;
    }
    .inner-toggle.active{
        top: 0;
    }
    .menu-top li a span.icon.designers{
        background-position: left 0;
        display: block;
        width: 100%;
    }
    .menu-top li:hover a span.icon.designers{
        background-position: left 100%;
    }
    .skip-nav div.hamburger {
        width: 18px;
        height: 18px;
        position: relative;
        overflow: visible;
        line-height: 13px;
        font-size: 1px;
        float: left;
        cursor: pointer;
        display: block;
        top: 20px;
    }
    .skip-nav div.hamburger .line {
        position: absolute;
        background-color: #fff;
        overflow: hidden;
        z-index: 1;
        width: 18px;
        height: 3px;
        left: 0px;
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 0.8s;
        -webkit-transition-delay: 0.2s;
        -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
        -moz-transition-property: -moz-transform;
        -moz-transition-duration: 0.8s;
        -moz-transition-delay: 0.2s;
        -moz-transition-timing-function: cubic-bezier(1, 0, 0, 1);
        -ms-transition-property: -ms-transform;
        -ms-transition-duration: 0.8s;
        -ms-transition-delay: 0.2s;
        -ms-transition-timing-function: cubic-bezier(1, 0, 0, 1);
        -o-transition-property: -o-transform;
        -o-transition-duration: 0.8s;
        -o-transition-delay: 0.2s;
        -o-transition-timing-function: cubic-bezier(1, 0, 0, 1);
        transition-property: transform;
        transition-duration: 0.8s;
        transition-delay: 0.2s;
        transition-timing-function: cubic-bezier(1, 0, 0, 1);
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
    }
    .skip-nav div.hamburger .line:after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -o-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 100% 0%;
        -moz-transform-origin: 100% 0%;
        -ms-transform-origin: 100% 0%;
        -o-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        height: 3px;
        background: #ff7f00;
    }
    .skip-nav div.hamburger .line:nth-child(1) {
        -webkit-transform-origin: 0px 1.5px;
        -moz-transform-origin: 0px 1.5px;
        -ms-transform-origin: 0px 1.5px;
        -o-transform-origin: 0px 1.5px;
        transform-origin: 0px 1.5px;
        top: 0px;
        z-index: 2;
    }
    .skip-nav div.hamburger .line:nth-child(1):after {
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 0.4s;
        -webkit-transition-delay: 0;
        -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
        -moz-transition-property: -moz-transform;
        -moz-transition-duration: 0.4s;
        -moz-transition-delay: 0;
        -moz-transition-timing-function: cubic-bezier(1, 0, 0, 1);
        -ms-transition-property: -ms-transform;
        -ms-transition-duration: 0.4s;
        -ms-transition-delay: 0;
        -ms-transition-timing-function: cubic-bezier(1, 0, 0, 1);
        -o-transition-property: -o-transform;
        -o-transition-duration: 0.4s;
        -o-transition-delay: 0;
        -o-transition-timing-function: cubic-bezier(1, 0, 0, 1);
        transition-property: transform;
        transition-duration: 0.4s;
        transition-delay: 0;
        transition-timing-function: cubic-bezier(1, 0, 0, 1);
    }
    .skip-nav div.hamburger .line:nth-child(2) {
        top: 7px;
        z-index: 1;
        -webkit-transition: opacity 0.4s linear 0.5s;
        -moz-transition: opacity 0.4s linear 0.5s;
        -o-transition: opacity 0.4s linear 0.5s;
        transition: opacity 0.4s linear 0.5s;
    }
    .skip-nav div.hamburger .line:nth-child(2):after {
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 0.4s;
        -webkit-transition-delay: 0.1s;
        -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
        -moz-transition-property: -moz-transform;
        -moz-transition-duration: 0.4s;
        -moz-transition-delay: 0.1s;
        -moz-transition-timing-function: cubic-bezier(1, 0, 0, 1);
        -ms-transition-property: -ms-transform;
        -ms-transition-duration: 0.4s;
        -ms-transition-delay: 0.1s;
        -ms-transition-timing-function: cubic-bezier(1, 0, 0, 1);
        -o-transition-property: -o-transform;
        -o-transition-duration: 0.4s;
        -o-transition-delay: 0.1s;
        -o-transition-timing-function: cubic-bezier(1, 0, 0, 1);
        transition-property: transform;
        transition-duration: 0.4s;
        transition-delay: 0.1s;
        transition-timing-function: cubic-bezier(1, 0, 0, 1);
    }
    .skip-nav div.hamburger .line:nth-child(3) {
        -webkit-transform-origin: 0px 1.5px;
        -moz-transform-origin: 0px 1.5px;
        -ms-transform-origin: 0px 1.5px;
        -o-transform-origin: 0px 1.5px;
        transform-origin: 0px 1.5px;
        top: 14px;
        z-index: 3;
    }
    .skip-nav div.hamburger .line:nth-child(3):after {
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 0.4s;
        -webkit-transition-delay: 0.2s;
        -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
        -moz-transition-property: -moz-transform;
        -moz-transition-duration: 0.4s;
        -moz-transition-delay: 0.2s;
        -moz-transition-timing-function: cubic-bezier(1, 0, 0, 1);
        -ms-transition-property: -ms-transform;
        -ms-transition-duration: 0.4s;
        -ms-transition-delay: 0.2s;
        -ms-transition-timing-function: cubic-bezier(1, 0, 0, 1);
        -o-transition-property: -o-transform;
        -o-transition-duration: 0.4s;
        -o-transition-delay: 0.2s;
        -o-transition-timing-function: cubic-bezier(1, 0, 0, 1);
        transition-property: transform;
        transition-duration: 0.4s;
        transition-delay: 0.2s;
        transition-timing-function: cubic-bezier(1, 0, 0, 1);
    }
    .skip-nav div.hamburger:hover .line:after {
        width: 100%;
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -o-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
    .nav-exposed.skip-nav div.hamburger .line:nth-child(1) {
        -webkit-transform: translateY(2px) rotate(45deg);
        -moz-transform: translateY(2px) rotate(45deg);
        -o-transform: translateY(2px) rotate(45deg);
        -ms-transform: translateY(2px) rotate(45deg);
        transform: translateY(2px) rotate(45deg);
    }
    .nav-exposed.skip-nav div.hamburger .line:nth-child(2) {
        -webkit-transition: opacity 0.4s linear 0s;
        -moz-transition: opacity 0.4s linear 0s;
        -o-transition: opacity 0.4s linear 0s;
        transition: opacity 0.4s linear 0s;
        opacity: 0;
    }
    .nav-exposed.skip-nav div.hamburger .line:nth-child(3) {
        -webkit-transform: translateY(1px) rotate(-45deg);
        -moz-transform: translateY(1px) rotate(-45deg);
        -o-transform: translateY(1px) rotate(-45deg);
        -ms-transform: translateY(1px) rotate(-45deg);
        transform: translateY(1px) rotate(-45deg);
    }
    .category-footer .category-image{
        display: none;
    }
    .category-footer .category-description {
        width: 100%;
        position: relative;
        padding: 47px 30px;
        top: 0;
        transform: translate(0);
        left: 0;
    }
}
@media screen and (min-width: 767px)  and (max-width: 1024px){
    .contact-info li{
        width: 50%;
    }
    .contact-info li:nth-child(odd){
        margin-left: -30px;
    }

}

/* Extra small devices */
@media screen and (max-width: 767px) {
    .col-xs-12{
        width: 100%;
    }
    .delivery-top{
        margin-bottom: 10px;
    }
    .delivery-content .cms-left{
        width: 100%;
    }
    .delivery-content .cms-right{
        border: none;
        margin-top: 0;
        padding-top: 0;
        width: 100%;
    }
    header.page-header .page-header-container{
        padding: 0 17px;
    }
    .cart-content,
    .cart-content, .cart-crossel, .cart-full-security{
        padding: 15px;
    }
    .cart-table thead tr th{
        padding: 0 5px 5px 5px
    }
    .cart-table tr{
        border: 1px solid #ccc;
        margin: 0;
    }
    .cart-table .price, .cart-table .product-cart-price:before{
        font-family: "futura_lightregular", Verdana, Arial, sans-serif;
    }
    #shopping-cart-table td{
        width: 100%;
        padding: 5px 15px;
        margin: 0;
    }
    #shopping-cart-table td:first-child{
        padding-top: 15px;
    }
    .cart-table .product-cart-actions .button{
        float: right;
        display: inline-block;
        padding-left: 0;
        padding-right: 0;
    }
    .cart-table tr.tr-break{
        height: 0;
        border: none;
    }
    .cart-content .checkout-types .btn-checkout{
        font-size: 15px;
        padding: 14px;
    }
    .cart-table .cart-links > li{
        text-align: left;
        padding: 0;
    }
    #shopping-cart-table td a.product-image{
        padding: 0;
        margin: 0;
    }

    .display-single-price .cart-totals-wrapper,
    .cart-table{
        margin-top: 0;
    }
    .display-single-price .cart-forms,
    .display-single-price .cart-totals-wrapper,
    .display-single-price .crosssell{
        width: 100%;
    }
    .cart-full-security [class^="col-"]{
        display: block;
        text-align: center;
        width: 100%;
        padding: 20px 0;
    }
    .cart-full-security [class^="col-"] img{
        margin: auto;

    }
    .shipping .shipping-form .form-list > li{
        display: block;
        overflow: hidden;
    }
    .shipping .shipping-form .form-list > li label{
        display: inline-block;
    }
    .shipping .form-list .input-box div.selector span:before{
        border: none;
        transform: none;
        right: 18px;
    }
    .shipping .form-list .input-box div.selector span:after{
        content: none;
    }
    .box-up-sell{
        margin-top: 0;
        margin-bottom: 0;
    }
    .box-up-sell h2{
        width: 100%;
        padding: 0;
        font-size: 20px;
        text-align: center;
    }

    .catalog-product-view .box-up-sell{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    #upsell-product-table,#upsell-product-table2{
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }
    #upsell-product-table .row,#upsell-product-table2 .row{
        margin: 0;
        padding: 0;
        float: none;
    }
    #upsell-product-table .row .square-container,#upsell-product-table2 .row .square-container{
        width: 50%;
        display: block;
        float: left;
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
        text-align: left;
        margin-bottom: 0;
    }
    #upsell-product-table .row .square-container img,#upsell-product-table2 .row .square-container img{
        width: 100%;
        margin: 0;
        padding: 0;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .cms-page-view .main, .contacts-index-index .main{
        margin-top: 20px;
    }
    .cms-page-view .col-left.sidebar,
    .cms-page-view .col2-left-layout .col-main{
        width: 100%;
        display: block;
        padding: 0 15px;
        margin: 0;
    }
    .cms-page-view .col-left.sidebar{
        border-bottom: 1px solid #ccc;
    }
    .sidebar .block:last-of-type,
    .sidebar .block:not(.block-layered-nav) .block-content{
        border: none;
        text-align: center;
    }
    .cms-page-view .content-seperator{
        margin-bottom: 40px;
    }
    .cms-page-view .page-head{
        margin-top: 20px;
    }

    .cms-page-view .content-seperator .row2{
        display: block;
    }
    .cms-page-view .content-seperator .row1 img{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .cms-page-view .std h2, .cms-no-route .std h2,
    .cms-page-view .content-seperator .row2 .items .name{
        width: 100%;
        margin-bottom: 10px;
    }
    .cms-page-view .content-seperator .row2 .items .name{
        margin-bottom: 5px;
    }
    .cart-content .page-title h1,
    .cart-totals tr.subtotal td,
    .cart-totals tr.subtotal td .price,
    .cart .cart-totals table tfoot td,
    .cart .cart-totals table tfoot strong span,
    .cart .cart-totals table tfoot span.price,
    .cms-page-view .page-head h3,
    .cms-page-view .content-seperator .row2 h3,
    .cms-page-view .std h1, .cms-no-route .std h1{
        font-size: 20px;
        line-height: 20px;
        font-family: 'futura-medium';
    }
    .cart-content,
    .cart-crossel,
    .cart-full-security,
    .cart-table .price,
    .cart-table .product-cart-price:before,
    .cart .cart-totals table td,
    .shipping .form-list .input-box div.selector span,
    .shipping .form-list label,
    .cart-content h2.product-name a,
    .catalog-product-view,
    .catalog-product-view .box-up-sell h3 a,
    .cms-page-view .content-seperator p,
    .cms-page-view .content-seperator .row2 .items{
        font-size: 10px;
        line-height: 1.4;
    }
    .product-view .product-brand,
    .cms-page-view .std h2, .cms-no-route .std h2,
    .cms-page-view .content-seperator .row2 .items .name,
    .product-view .product-shop .price-box .regular-price .price,
    .product-view .product-shop .price-box .special-price .price,
    .product-view .product-shop .price-box .full-product-price .price,
    .product-view .add-to-cart .qty-wrapper .qty{
        font-size: 18px;
    }
    .product-view .product-shop .product-name .h1,
    .product-view .product-img-box .product-name h1,
    .box-up-sell h2 p,
    .box-up-sell h4,
    .product-view .add-to-cart-buttons .button{
        font-size: 14px;
    }
    .cms-page-view .content-seperator .row2 .items .position,
    #accordion > dl > dt,
    .box-up-sell h3 a,
    .catalog-product-view .box-up-sell h4{
        font-size: 12px;
    }
    .cms-page-view .content-seperator p{
        margin-bottom: 10px;
        line-height: 15px;
    }
    .cms-page-view .content-seperator .row2 .items{
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .cms-page-view .page-title{
        margin-top: 10px;
    }
    .col-left{
        margin-left: 0;
        border-bottom: 1px solid #ccc;
    }

    .amquickview-hover{
        display: none !important;
    }
    .cms-page-view .col1-layout{
        padding: 0 15px;
    }
    .faq-left,.faq-right{
        width: 100%;
    }
    .cms-page-view{
        font-size: 10px;
    }
    .category-title h1, body.catalogsearch-result-index .page-title h1{
        margin-left: 15px;
        display: block;
        width: 100%;

    }
    .catalogsearch-result-index .toolbar_top {
        padding-top: 6px;
        float: left;
        margin-left: -5px;
        position: relative;
        width: 50%;
    }
    .catalogsearch-result-index .block-filter{
        display: inline-block;
        width: 50%;
        float: left;
    }
    .checkout-onepage-index .main{
        font-size: 10px;
        margin: 13px 15px;
    }
    .amscheckout table{
        width: 100%;
    }
    .amscheckout .area-header,
    .checkout-onepage-index h3,
    .amscheckout-data-table tfoot td,
    .amscheckout-submit-button{
        font-size: 12px;
    }
    .amscheckout-row{
        width: 100% !important;
    }
    .amscheckout-control{
        margin-bottom: 5px;
    }
    .checkout-onepage-index div.selector span,
    .sp-methods dt,
    input#coupon_code{
        font-size: 10px;
    }
    .amscheckout-data-table tr.subtotal td,
    .amscheckout-data-table tr.subtotal td .price,
    .coupon-buttons button{
        font-size: 16px;
    }
    .cart-content .checkout-types .btn-checkout,
    .shipping #co-shipping-method-form .buttons-set .button,
    .order-review-button .amscheckout-submit{
        font-size: 16px;
        padding: 17px 0;
    }
    .first-column .amscheckout-label-radio{
        margin-bottom: 10px;
    }
    .checkout-onepage-index #checkout-review-table thead > tr > th{
        display: inline-grid;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .category-title h1, body.catalogsearch-result-index .page-title h1{
        font-size: 20px;
        line-height: 2;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}
@media only screen and (max-width: 979px){
    .amscheckout .three-columns .first-column,
    .amscheckout .three-columns .second-column,
    .amscheckout .three-columns .third-column,
    .checkout-onepage-index .col-lg-4{
        width: 100%;
    }
    .second-column.col-lg-4 ,
    .third-column.col-lg-4{
        padding-left: 0;
        padding-right: 0;
    }
}

.block1 img.resize,
.block1 a img.resize,
.row img.resize,
.content-block20 ul li a img.unresize{
    width: 100%;
    height: auto;
    transform: none;
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    -moz-transform: none;
    top: inherit;
    left: inherit;
    position: relative;
}
.content-block20 ul li a img.unresize {
    width: auto !important;
    height: auto;
    position: relative !important;
}
.block1 img.resizespec,
.block1 a img.resizespec,
.row img.resizespec{
    width: 102%;
    height: auto;
    transform: none;
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    -moz-transform: none;
    top: inherit;
    left: inherit;
    position: relative;
}
.col-lg-7.block1 .bg,
.block2 .bg,
.block11 .bg,
.block5 .bg,
.block14 .bg,
.block16 .bg{
    height: 101%;
    width: 100%;
    position: absolute;
    background-size: cover;
}
.cms-about-us .main{
    margin-bottom: 5px;
}
#amscheckout-onepage .coupon-buttons button{
    font-size: 12px;
}
.blk-7-content {
	position: absolute;
	color: #fff;
	text-align: center;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	font-size: 40px;
	text-shadow: 0px 2px 0px rgba(0, 0, 0, 1);
}
.cms-page-view .std .signup-intro li{
	color: #000;
}

@media only screen and (max-width: 1024px){
    .menu-top li {
        padding: 15px 30px;
        display: block;
        width: 100%;
        margin: 0;
        clear: both;
        overflow: hidden;
        position: relative;
    }
    .nav-bar.cate-brands .menu-top li {
        padding: 15px 30px;
        display: block;
        width: 46%;
        margin: 0;
        clear: none;
        float: left;
        overflow: hidden;
        position: relative;
    }

}
@media only screen and (max-width: 400px) {
    .contacts-index-index .buttons-set button.button {
        clear: both;
        float: right;
    }
}
@media only screen and (max-width: 800px) {
	.blk-7-content {
		font-size: 20px;
	}

    .contacts-index-index {
        font-size: 12px;
    }

    .contacts-index-index .col-main,
    .contacts-index-index .col2-left-layout .col-main {
        width: 100%;
        margin: 0;
        padding: 0 15px;
    }

    .contacts-index-index div.input-box input {
        width: 100%;
    }

    .contacts-index-index .buttons-set {
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .contacts-index-index .buttons-set button.button {
        margin: auto;
        font-size: 15px;
        float: right;
        display: block;
        width: 70%;
    }

    .contacts-index-index .page-title h1 {
        margin-top: 20px;
        text-align: center;
    }

    .contact-info li {
        width: 100%;
        font-size: 12px;
    }

    .contact-info li .img {
        min-height: 85px;
    }

    .contact-info li img {
        width: auto;
        max-width: 40%;
        height: auto;
    }

    .block-cms-menu .block-content, .block-cms-menu .block-content ul, .block-cms-menu .block-content ul li{
        width: 100%;
    }
    .block-cms-menu li {
        margin: 0;
    }

    .contacts-index-index .col-left {
        border-bottom: 1px solid #ccc;
        margin-left: 0;
        clear: left;
        width: 100%;
    }

    .contacts-index-index  .block, .contacts-index-index .col-left-first {
        margin-bottom: 0;
    }
    .contacts-index-index .block-cms-menu li a{
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }


    .minicart-actions .checkout-types,.header-minicart .minicart-actions .checkout-types.minicart li{
        width: 100%;
    }

}