<?xml version="1.0"?>
<config>
	<modules>
        <Extendware_EWCartReminder>
        	<extendware>
	        	<settings>
	        		<scopes>
		        		<main>
		        			<tabs>
						        <main translate="label comment ewhelp" module="ewcore">
						            <label>Cart Reminder</label>
						            <sort_order>100</sort_order>
						        </main>
						    </tabs>
							<sections>
								<ewcartreminder translate="label comment ewhelp" module="ewcartreminder">
									<class>separator-top</class>
									<label>General</label>
									<tab>main</tab>
									<frontend_type>text</frontend_type>
									<sort_order>10</sort_order>
									<show_in_default>1</show_in_default>
									<show_in_website>1</show_in_website>
									<show_in_store>1</show_in_store>
						            <groups>
						                <general translate="label comment ewhelp" module="ewcartreminder">
						                    <label>General</label>
						                    <frontend_type>text</frontend_type>
						                    <sort_order>100</sort_order>
						                    <show_in_default>1</show_in_default>
						                    <show_in_website>1</show_in_website>
						                    <show_in_store>1</show_in_store>
						                    <fields>
						                    	<status translate="label comment ewhelp">
						                            <label>Status</label>
						                            <frontend_type>select</frontend_type>
						                            <source_model>ewcore/adminhtml_config_data_option_enabledisable</source_model>
						                            <sort_order>1</sort_order>
						                            <show_in_default>1</show_in_default>
						                            <show_in_website>1</show_in_website>
						                            <show_in_store>1</show_in_store>
						                            <comment><![CDATA[Disabling will disable cart reminder for the store. Currently queued items will be deleted at their send time instead of sent.]]></comment>
						                        </status>
						                    	<num_reminders translate="label comment ewhelp">
						                            <label>Number of reminders</label>
						                            <frontend_type>text</frontend_type>
						                            <sort_order>10</sort_order>
						                            <show_in_default>1</show_in_default>
						                            <show_in_website>1</show_in_website>
						                            <show_in_store>1</show_in_store>
						                            <validators>
						                            	<validator>
						                            		<model>ewcore/data_validator_integer</model>
						                            		<options>
						                            			<min_value>1</min_value>
						                            		</options>
						                            	</validator>
						                            </validators>
						                            <validate>required-entry validate-greater-than-zero</validate>
						                            <comment><![CDATA[Maximum number of reminders. Must be a number greater than 1. Please remember to configure reminders if you change this number]]></comment>
						                        </num_reminders>
						                        <stop_after_visit translate="label comment ewhelp">
						                            <label>Stop After Visiting</label>
						                            <frontend_type>select</frontend_type>
						                            <source_model>ewcore/adminhtml_config_data_option_enabledisable</source_model>
						                            <sort_order>20</sort_order>
						                            <show_in_default>1</show_in_default>
						                            <show_in_website>1</show_in_website>
						                            <show_in_store>1</show_in_store>
						                            <comment><![CDATA[If set to "Enabled", no more reminders will be sent if the customer clicks a link in the reminder e-mail]]></comment>
						                        </stop_after_visit>
						                        <stop_after_order translate="label comment ewhelp">
						                            <label>Stop After Ordering</label>
						                            <frontend_type>select</frontend_type>
						                            <source_model>ewcore/adminhtml_config_data_option_enabledisable</source_model>
						                            <sort_order>30</sort_order>
						                            <show_in_default>1</show_in_default>
						                            <show_in_website>1</show_in_website>
						                            <show_in_store>1</show_in_store>
						                            <comment><![CDATA[If set to "Enabled", no more reminders will be sent after the customer makes a purchase]]></comment>
						                        </stop_after_order>
						                        <ajax_enabled translate="label comment ewhelp">
						                            <label>Ajax Email Capture</label>
						                            <frontend_type>select</frontend_type>
						                            <source_model>ewcore/adminhtml_config_data_option_enabledisable</source_model>
						                            <sort_order>31</sort_order>
						                            <show_in_default>1</show_in_default>
						                            <show_in_website>1</show_in_website>
						                            <show_in_store>1</show_in_store>
						                            <comment><![CDATA[If enabled, e-mails will be captured via ajax as they are typed in the order form.]]></comment>
						                        	<ewhelp><![CDATA[Without ajax capture enabled, they will have to either 1) complete the billing step of the check out or 2) be logged in. With ajax caputre, they don't need to complete the billing step for a reminder to be generated.]]></ewhelp>
						                        </ajax_enabled>
						                    </fields>
						                </general>
						                <generation translate="label comment ewhelp" module="ewcartreminder">
						                    <label>Generation</label>
						                    <frontend_type>text</frontend_type>
						                    <sort_order>200</sort_order>
						                    <show_in_default>1</show_in_default>
						                    <show_in_website>1</show_in_website>
						                    <show_in_store>1</show_in_store>
						                    <fields>
						                        <status translate="label comment ewhelp">
						                            <label>Auto Generation</label>
						                            <frontend_type>select</frontend_type>
						                            <source_model>ewcore/adminhtml_config_data_option_enabledisable</source_model>
						                            <sort_order>10</sort_order>
						                            <show_in_default>1</show_in_default>
						                            <show_in_website>1</show_in_website>
						                            <show_in_store>1</show_in_store>
						                            <comment><![CDATA[If set to "Disabled", reminders will not be automatically generated (manual generation is still possible)]]></comment>
						                        </status>
						                        <delay_magnitude translate="label comment ewhelp">
						                            <label>Delay</label>
						                            <frontend_type>text</frontend_type>
						                            <sort_order>20</sort_order>
						                            <show_in_default>1</show_in_default>
						                            <show_in_website>1</show_in_website>
						                            <show_in_store>1</show_in_store>
						                            <validators>
						                            	<validator>
						                            		<model>ewcore/data_validator_integer</model>
						                            		<options>
						                            			<min_value>1</min_value>
						                            		</options>
						                            	</validator>
						                            </validators>
						                            <validate>required-entry validate-greater-than-zero</validate>
						                            <comment><![CDATA[Delay before a cart is considered inactive and a reminder is generated. This value should be less than the delay of your first reminder]]></comment>
						                        </delay_magnitude>
						                        <delay_period translate="label comment ewhelp">
						                            <label>Delay period</label>
						                            <frontend_type>select</frontend_type>
						                            <source_model>ewcartreminder/adminhtml_config_data_option_period</source_model>
						                            <sort_order>30</sort_order>
						                            <show_in_default>1</show_in_default>
						                            <show_in_website>1</show_in_website>
						                            <show_in_store>1</show_in_store>
						                            <comment><![CDATA[]]></comment>
						                        </delay_period>
						                        <exclude_hidden_products_enabled translate="label comment ewhelp">
						                            <label>Exclude Hidden products</label>
						                            <frontend_type>select</frontend_type>
						                            <source_model>ewcore/adminhtml_config_data_option_enabledisable</source_model>
						                            <sort_order>40</sort_order>
						                            <show_in_default>1</show_in_default>
						                            <show_in_website>1</show_in_website>
						                            <show_in_store>1</show_in_store>
						                            <comment><![CDATA[Enabling this will exclude hidden products from being included in the email]]></comment>
						                            <ewhelp><![CDATA[In almost all cases this should be enabled as hidden products would never be added to the cart. If your shop adds hidden products to the cart, then enable this. You should also remove product links in the email template as hidden products are not guaranteed to be viewable in your catalog.]]></ewhelp>
						                        </exclude_hidden_products_enabled>
						                        <disabled_customer_groups translate="label comment ewhelp">
						                            <label>Disabled Customer Groups</label>
						                            <frontend_type>multiselect</frontend_type>
						                            <source_model>ewcartreminder/adminhtml_config_data_option_customergroup</source_model>
						                            <sort_order>44</sort_order>
						                            <show_in_default>1</show_in_default>
						                            <show_in_website>1</show_in_website>
						                            <show_in_store>1</show_in_store>
						                            <can_be_empty>1</can_be_empty>
						                            <comment><![CDATA[Customers in these groups will NOT have reminders generated.]]></comment>
						                        </disabled_customer_groups>
						                        <quote_reset_period translate="label comment ewhelp">
						                            <label>Quote Reset</label>
						                            <frontend_type>text</frontend_type>
						                            <sort_order>45</sort_order>
						                            <show_in_default>1</show_in_default>
						                            <show_in_website>1</show_in_website>
						                            <show_in_store>1</show_in_store>
						                            <validators>
						                            	<validator>
						                            		<model>ewcore/data_validator_double</model>
						                            		<options>
						                            			<min_value>0</min_value>
						                            		</options>
						                            	</validator>
						                            </validators>
						                            <validate>required-entry validate-zero-or-greater</validate>
						                            <comment><![CDATA[After this number of days a cart quote will be able to generate another reminder stream. Enter 0 to never reset.]]></comment>
						                            <ewhelp><![CDATA[Magento will re-use a cart quote if no order is placed. If a customer visited 6 months ago, received reminders, did not order, and then today they visit again and add more products to their account, then a new reminder will not be generated. To allow a reminder to be created in this scenerio, then the cart quote limiter should be set to a non-zero value. <b>Example: </b> If you set this to 60, then after 2 months the same cart quote will be able to generate a new reminder.]]></ewhelp>
						                        </quote_reset_period>
						                        <reminder_protection_period translate="label comment ewhelp">
						                            <label>Reminder Protection</label>
						                            <frontend_type>text</frontend_type>
						                            <sort_order>50</sort_order>
						                            <show_in_default>1</show_in_default>
						                            <show_in_website>1</show_in_website>
						                            <show_in_store>1</show_in_store>
						                            <validators>
						                            	<validator>
						                            		<model>ewcore/data_validator_double</model>
						                            		<options>
						                            			<min_value>0</min_value>
						                            		</options>
						                            	</validator>
						                            </validators>
						                            <validate>required-entry validate-zero-or-greater</validate>
						                            <comment><![CDATA[The minimum numbers of days to wait from the last reminder stream until a customer / email can trigger a new reminder stream. Enter 0 to disable protection.]]></comment>
						                            <ewhelp><![CDATA[This is useful to prevent customers from always receiving a reminder. <b>Example: </b>If you set this to 10 days, then a customers' abandoned carts will be ignored until 10 days after the last reminder stream was created.]]></ewhelp>
						                        </reminder_protection_period>
						                        <order_protection_period translate="label comment ewhelp">
						                            <label>Order Protection</label>
						                            <frontend_type>text</frontend_type>
						                            <sort_order>60</sort_order>
						                            <show_in_default>1</show_in_default>
						                            <show_in_website>1</show_in_website>
						                            <show_in_store>1</show_in_store>
						                            <validators>
						                            	<validator>
						                            		<model>ewcore/data_validator_double</model>
						                            		<options>
						                            			<min_value>0</min_value>
						                            		</options>
						                            	</validator>
						                            </validators>
						                            <validate>required-entry validate-zero-or-greater</validate>
						                            <comment><![CDATA[The minimum numbers of days to wait from last order until a customer / email can trigger a reminder stream. Enter 0 to disable protection.]]></comment>
						                            <ewhelp><![CDATA[This should always be set to ensure that a customer does not accidently trigger a reminder stream after they just placed an order. This is possible without setting this to at least 1 day. <b>Example: </b> If this is set to 1 days, then a customers' abandoned carts will be ignored until 1 day has passed after their order.]]></ewhelp>
						                        </order_protection_period>
						                    </fields>
						                </generation>
						                <email translate="label comment ewhelp" module="ewcartreminder">
						                    <label>E-mail</label>
						                    <frontend_type>text</frontend_type>
						                    <sort_order>300</sort_order>
						                    <show_in_default>1</show_in_default>
						                    <show_in_website>1</show_in_website>
						                    <show_in_store>1</show_in_store>
						                    <fields>
						                    	<status translate="label comment ewhelp">
						                            <label>Auto Send</label>
						                            <frontend_type>select</frontend_type>
						                            <source_model>ewcore/adminhtml_config_data_option_enabledisable</source_model>
						                            <sort_order>10</sort_order>
						                            <show_in_default>1</show_in_default>
						                            <show_in_website>1</show_in_website>
						                            <show_in_store>1</show_in_store>
						                            <comment><![CDATA[If set to "Disabled", reminders will not be automatically sent (manual sending is still possible)]]></comment>
						                        </status>
						                        <sender_identity translate="label comment ewhelp">
						                            <label>Email Sender</label>
						                            <frontend_type>select</frontend_type>
						                            <source_model>adminhtml/system_config_source_email_identity</source_model>
						                            <sort_order>20</sort_order>
						                            <show_in_default>1</show_in_default>
						                            <show_in_website>1</show_in_website>
						                            <show_in_store>1</show_in_store>
						                        </sender_identity>
						                        <default_customer_name translate="label comment ewhelp">
						                            <label>Default Customer Name</label>
						                            <frontend_type>text</frontend_type>
						                            <sort_order>30</sort_order>
						                            <show_in_default>1</show_in_default>
						                            <show_in_website>1</show_in_website>
						                            <show_in_store>1</show_in_store>
						                            <validators>
						                            	<validator>
						                            		<model>ewcore/data_validator_length</model>
						                            		<options>
						                            			<min_length>1</min_length>
						                            		</options>
						                            	</validator>
						                            </validators>
						                            <comment><![CDATA[Default customer name if customer did not supply name]]></comment>
						                        </default_customer_name>
						                        <bcc translate="label comment ewhelp">
						                            <label>BCC</label>
						                            <frontend_model>ewcartreminder/adminhtml_config_form_field_bcc</frontend_model>
                            						<backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
						                            <sort_order>40</sort_order>
						                            <show_in_default>1</show_in_default>
						                            <show_in_website>1</show_in_website>
						                    		<show_in_store>1</show_in_store>>
						                            <validator>
						                            		<model>ewcore/data_validator_serialized_array</model>
						                            		<options>
						                            			<splittable_min_items>1</splittable_min_items>
						                            			<splittable_max_items>1</splittable_max_items>
						                            			<splittable_item_types>string</splittable_item_types>
						                            			<splittable_item_min_length>1</splittable_item_min_length>
						                            		</options>
						                            	</validator>
						                            <comment><![CDATA[Send a copy of the reminder to these e-mails.]]></comment>
						                        </bcc>
						                    </fields>
						                </email>
						                <advanced translate="label comment ewhelp" module="ewcartreminder">
						                    <label>Advanced</label>
						                    <frontend_type>text</frontend_type>
						                    <sort_order>400</sort_order>
						                    <show_in_default>1</show_in_default>
						                    <show_in_website>1</show_in_website>
						                    <show_in_store>1</show_in_store>
						                    <fields>
						                        <redirect_route translate="label comment ewhelp">
						                            <label>Redirect Route</label>
						                            <frontend_type>text</frontend_type>
						                            <sort_order>40</sort_order>
						                            <show_in_default>1</show_in_default>
						                            <show_in_website>1</show_in_website>
						                    		<show_in_store>1</show_in_store>>
						                            <comment><![CDATA[After clicking on the recover cart url the customer will be redirected to this route. Only change if you know what you are doing.]]></comment>
						                        </redirect_route>
						                    </fields>
						                </advanced>
						            </groups>
						        </ewcartreminder>
							</sections>
						</main>
					</scopes>
					<templates>
		       			<ewcartreminder_reminder translate="label comment ewhelp" module="ewcartreminder">
							<class>separator-top</class>
							<label>Reminder</label>
							<tab>main</tab>
							<frontend_type>text</frontend_type>
							<sort_order>1000</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
				            <groups>
				                <email translate="label comment ewhelp" module="ewcartreminder">
				                    <label>E-mail</label>
				                    <frontend_type>text</frontend_type>
				                    <sort_order>10</sort_order>
				                    <show_in_default>1</show_in_default>
				                    <show_in_website>1</show_in_website>
				                    <show_in_store>1</show_in_store>
				                    <fields>
				                        <template translate="label comment ewhelp">
				                            <label>E-mail Template</label>
				                            <frontend_type>select</frontend_type>
				                            <source_model>ewcartreminder/adminhtml_config_data_option_email_template</source_model>
				                            <sort_order>20</sort_order>
				                            <show_in_default>1</show_in_default>
				                            <show_in_website>1</show_in_website>
				                            <show_in_store>1</show_in_store>
				                            <default_value>ewcartreminder_reminder_email_template</default_value>
				                            <comment><![CDATA[Select the template of the e-mail. You can create your own in System -> Transactional Emails]]></comment>
				                        </template> 
				                        <delay_magnitude translate="label comment ewhelp">
				                            <label>Delay Magnitude</label>
				                            <frontend_type>text</frontend_type>
				                            <sort_order>30</sort_order>
				                            <show_in_default>1</show_in_default>
				                            <show_in_website>1</show_in_website>
				                            <show_in_store>1</show_in_store>
				                            <validators>
				                            	<validator>
				                            		<model>ewcore/data_validator_integer</model>
				                            		<options>
				                            			<min_value>1</min_value>
				                            		</options>
				                            	</validator>
				                            </validators>
				                            <validate>required-entry validate-greater-than-zero</validate>
				                            <comment><![CDATA[How long to wait since the delay reference until a reminder is sent]]></comment>
				                            <default_value>1</default_value>
				                        </delay_magnitude>
				                        <delay_period translate="label comment ewhelp">
				                            <label>Delay Period</label>
				                            <frontend_type>select</frontend_type>
				                            <source_model>ewcartreminder/adminhtml_config_data_option_period</source_model>
				                            <sort_order>40</sort_order>
				                            <show_in_default>1</show_in_default>
				                            <show_in_website>1</show_in_website>
				                            <show_in_store>1</show_in_store>
				                            <default_value>day</default_value>
				                        </delay_period>
				                        <delay_reference translate="label comment ewhelp">
				                            <label>Delay Reference</label>
				                            <frontend_type>select</frontend_type>
				                            <source_model>ewcartreminder/adminhtml_config_data_option_delay_reference</source_model>
				                            <sort_order>50</sort_order>
				                            <show_in_default>1</show_in_default>
				                            <show_in_website>1</show_in_website>
				                            <show_in_store>1</show_in_store>
				                            <comment><![CDATA[Delay = current time - the delay reference. If the delay is greater than the delay you have set, then a reminder will be sent. For followup reminders, "Last Reminded Time" is highly recommended]]></comment>
				                            <default_value>abandoned_at</default_value>
				                            <default_value2>last_reminded_at</default_value2>
				                        </delay_reference>
				                    </fields>
				                </email>
				                <conditions translate="label comment ewhelp" module="ewcartreminder">
				                    <label>Conditions</label>
				                    <frontend_type>text</frontend_type>
				                    <sort_order>11</sort_order>
				                    <show_in_default>1</show_in_default>
				                    <show_in_website>1</show_in_website>
				                    <show_in_store>1</show_in_store>
				                    <fields>
				                        <inventory_required translate="label comment ewhelp">
				                            <label>Require Products In Stock</label>
				                            <frontend_type>select</frontend_type>
				                            <source_model>ewcore/adminhtml_config_data_option_enabledisable</source_model>
				                            <sort_order>10</sort_order>
				                            <show_in_default>1</show_in_default>
				                            <show_in_website>1</show_in_website>
				                            <show_in_store>1</show_in_store>
				                            <comment><![CDATA[If enabled a reminder will not be sent unless at least one of the products in the cart are in stock.]]></comment>
				                        	<default_value>1</default_value>
				                        </inventory_required>
				                        <backup_action translate="label comment ewhelp">
				                            <label>Backup Action</label>
				                            <frontend_type>select</frontend_type>
				                           <source_model>ewcartreminder/adminhtml_config_data_option_conditions_backupaction</source_model>
				                            <sort_order>10</sort_order>
				                            <show_in_default>1</show_in_default>
				                            <show_in_website>1</show_in_website>
				                            <show_in_store>1</show_in_store>
				                            <depends><inventory_required>1</inventory_required></depends>
				                            <comment><![CDATA[If a reminder is sitting in the queue for too long, then this action will be completed. Useful so that reminders do not sit in queue forever if a product never gets new stock.]]></comment>
				                        	<default_value>send</default_value>
				                        </backup_action>
				                        <delay_magnitude translate="label comment ewhelp">
				                            <label>Delay Magnitude</label>
				                            <frontend_type>text</frontend_type>
				                            <sort_order>30</sort_order>
				                            <show_in_default>1</show_in_default>
				                            <show_in_website>1</show_in_website>
				                            <show_in_store>1</show_in_store>
				                            <validators>
				                            	<validator>
				                            		<model>ewcore/data_validator_integer</model>
				                            		<options>
				                            			<min_value>1</min_value>
				                            		</options>
				                            	</validator>
				                            </validators>
				                            <validate>required-entry validate-greater-than-zero</validate>
				                            <depends><inventory_required>1</inventory_required></depends>
				                            <comment><![CDATA[How long to wait until the backup action is executed. This is from the scheduled send time.]]></comment>
				                            <default_value>1</default_value>
				                        </delay_magnitude>
				                        <delay_period translate="label comment ewhelp">
				                            <label>Delay Period</label>
				                            <frontend_type>select</frontend_type>
				                            <source_model>ewcartreminder/adminhtml_config_data_option_period</source_model>
				                            <sort_order>40</sort_order>
				                            <show_in_default>1</show_in_default>
				                            <show_in_website>1</show_in_website>
				                            <show_in_store>1</show_in_store>
				                            <depends><inventory_required>1</inventory_required></depends>
				                            <comment><![CDATA[]]></comment>
				                        	<default_value>day</default_value>
				                        </delay_period>
				                    </fields>
				                </conditions>
				                <coupon translate="label comment ewhelp" module="ewcartreminder">
				                    <label>Coupon</label>
				                    <frontend_type>text</frontend_type>
				                    <sort_order>20</sort_order>
				                    <show_in_default>1</show_in_default>
				                    <show_in_website>1</show_in_website>
				                    <show_in_store>1</show_in_store>
				                    <fields>
				                    	<status translate="label comment ewhelp">
				                            <label>Status</label>
				                            <frontend_type>select</frontend_type>
				                            <source_model>ewcore/adminhtml_config_data_option_enabledisable</source_model>
				                            <sort_order>10</sort_order>
				                            <show_in_default>1</show_in_default>
				                            <show_in_website>1</show_in_website>
				                            <show_in_store>1</show_in_store>
				                            <comment><![CDATA[If set to "Disabled", a coupon will not be generated]]></comment>
				                        	<default_value>0</default_value>
				                        </status>
				                        <generation_mode translate="label comment ewhelp">
				                            <label>Generation Mode</label>
				                            <frontend_type>select</frontend_type>
				                            <source_model>ewcartreminder/adminhtml_config_data_option_coupon_generationmode</source_model>
				                            <sort_order>11</sort_order>
				                            <show_in_default>1</show_in_default>
				                            <show_in_website>1</show_in_website>
				                            <show_in_store>1</show_in_store>
				                            <depends><status>1</status></depends>
				                            <comment><![CDATA[The mode used to create the coupon. Copy requires you to create a coupon in Promotions -> Shopping Cart Price Rules which enables you to use advanced rules and conditions.]]></comment>
				                            <ewhelp><![CDATA[To use the "Copy" mode, create a coupon in Promotions -> Shopping Cart Price Rules. Coupons will be created based on this coupon. This allows you to use advanced rules and conditions.]]></ewhelp>
				                        	<default_value>create</default_value>
				                        </generation_mode>
				                        <base_sales_rule_id translate="label comment ewhelp">
				                            <label>Sales Rule ID</label>
				                            <frontend_type>text</frontend_type>
				                            <sort_order>12</sort_order>
				                            <show_in_default>1</show_in_default>
				                            <show_in_website>1</show_in_website>
				                            <show_in_store>1</show_in_store>
				                            <validators>
				                            	<validator>
				                            		<model>ewcartreminder/data_validator_sales_rule_id</model>
				                            		<options>
				                            			<min_value>0</min_value>
				                            		</options>
				                            	</validator>
				                            </validators>
				                            <validate>required-entry validate-greater-than-zero</validate>
				                            <depends><status>1</status><generation_mode>copy</generation_mode></depends>
				                            <comment><![CDATA[The ID of the sales rule that will be copied. This can be found in Promotions -> Shopping Cart Price Rules.]]></comment>
				                            <default_value></default_value>
				                        </base_sales_rule_id>
				                        <type translate="label comment ewhelp">
				                            <label>Coupon Type</label>
				                            <frontend_type>select</frontend_type>
				                            <source_model>ewcartreminder/adminhtml_config_data_option_coupon_type</source_model>
				                            <sort_order>12</sort_order>
				                            <show_in_default>1</show_in_default>
				                            <show_in_website>1</show_in_website>
				                            <show_in_store>1</show_in_store>
				                            <depends><status>1</status><generation_mode>create</generation_mode></depends>
				                            <default_value>by_percent</default_value>
				                        </type>
				                        <amount translate="label comment ewhelp">
				                            <label>Coupon Amount</label>
				                            <frontend_type>text</frontend_type>
				                            <sort_order>20</sort_order>
				                            <show_in_default>1</show_in_default>
				                            <show_in_website>1</show_in_website>
				                            <show_in_store>1</show_in_store>
				                            <validators>
				                            	<validator>
				                            		<model>ewcore/data_validator_double</model>
				                            		<options>
				                            			<min_value>0</min_value>
				                            		</options>
				                            	</validator>
				                            </validators>
				                            <validate>required-entry validate-greater-than-zero</validate>
				                            <depends><status>1</status><generation_mode>create</generation_mode></depends>
				                            <comment><![CDATA[Only enter numbers. If using a percentage off, then the whole number represents the percent off (20 = 20% discount). For fixed amounts it represents the dollar amount (20 = $20).]]></comment>
				                            <default_value>10</default_value>
				                        </amount>
				                        <min_base_subtotal translate="label comment ewhelp">
				                            <label>Min Subtotal</label>
				                            <frontend_type>text</frontend_type>
				                            <sort_order>21</sort_order>
				                            <show_in_default>1</show_in_default>
				                            <show_in_website>1</show_in_website>
				                            <show_in_store>1</show_in_store>
				                            <validators>
				                            	<validator>
				                            		<model>ewcore/data_validator_double</model>
				                            		<options>
				                            			<min_value>0</min_value>
				                            		</options>
				                            	</validator>
				                            </validators>
				                            <validate>required-entry validate-greater-than-zero</validate>
				                            <depends><status>1</status><generation_mode>create</generation_mode></depends>
				                            <comment><![CDATA[Only enter numbers. This is the minimum value the customer must add to their cart for the coupon to be valid.]]></comment>
				                            <default_value>0</default_value>
				                        </min_base_subtotal>
				                        <expiry_magnitude translate="label comment ewhelp">
				                            <label>Expiry (days)</label>
				                            <frontend_type>text</frontend_type>
				                            <sort_order>30</sort_order>
				                            <show_in_default>1</show_in_default>
				                            <show_in_website>1</show_in_website>
				                            <show_in_store>1</show_in_store>
				                            <comment><![CDATA[Enter expiry (in days). Entering "0" means no expiry.]]></comment>
				                            <default_value>5</default_value>
				                            <depends><status>1</status></depends>
				                            <validators>
				                            	<validator>
				                            		<model>ewcore/data_validator_integer</model>
				                            		<options>
				                            			<min_value>1</min_value>
				                            		</options>
				                            	</validator>
				                            </validators>
				                            <validate>required-entry validate-greater-than-zero</validate>
				                        </expiry_magnitude> 
				                        <priority translate="label comment ewhelp">
				                            <label>Priority</label>
				                            <frontend_type>text</frontend_type>
				                            <sort_order>40</sort_order>
				                            <show_in_default>1</show_in_default>
				                            <show_in_website>1</show_in_website>
				                            <show_in_store>1</show_in_store>
				                            <validators>
				                            	<validator>
				                            		<model>ewcore/data_validator_integer</model>
				                            		<options>
				                            			<min_value>0</min_value>
				                            		</options>
				                            	</validator>
				                            </validators>
				                            <validate>required-entry validate-greater-than-zero</validate>
				                            <default_value>5</default_value>
				                            <depends><status>1</status></depends>
				                            <comment><![CDATA[The priority of the coupon. Useful if you have other shopping cart rules that need to be processed before this coupon.]]></comment>
				                        	<ewhelp><![CDATA[For example, if you have a store wide cart rule that allows for discounts in certain conditions (orders > $500, 10% off if you buy 2 or more products, etc), then you need to set the priority of the reminder coupons to be greater than the priority of those cart rules or else the reminder coupon will prevent those rules from processing.]]></ewhelp>
				                        </priority>
									</fields>
								</coupon>
				            </groups>
				        </ewcartreminder_reminder>
		       		</templates>
				</settings>
			</extendware>
		</Extendware_EWCartReminder>
	</modules>
</config>
