<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Amasty_Conf>
            <version>3.8.2</version>
        </Amasty_Conf>
    </modules>
    
    <frontend>
        <translate>
            <modules>
                <Amasty_Conf>
                    <files>
                        <default>Amasty_Conf.csv</default>
                    </files>
                </Amasty_Conf>
            </modules>
        </translate>
        
        <layout>
            <updates>
                <amconf>
                    <file>z_amconf.xml</file>
                </amconf>
            </updates>
        </layout>
        
        <routers>
            <amconf>
                <use>standard</use>
                <args>
                    <module>Amasty_Conf</module>
                    <frontName>amconf</frontName>
                </args>
            </amconf>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <amconf>
                    <file>amconf.xml</file>
                </amconf>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <amconf translate="title" module="amconf">
                                            <title>Color Swatches Pro</title>
                                        </amconf>
                                    </children>
                                </config>
                            </children>
                        </system> 
                     </children>
                </admin> 
            </resources>
        </acl>
        <translate>
            <modules>
                <Amasty_Conf>
                    <files>
                        <default>Amasty_Conf.csv</default>
                    </files>
                </Amasty_Conf>
            </modules>
        </translate>
    </adminhtml>
    
    <global>
    
        <models>
            <amconf>
                <class>Amasty_Conf_Model</class>
                <resourceModel>amconf_mysql4</resourceModel>
            </amconf>
            
            <amconf_mysql4>
                <class>Amasty_Conf_Model_Mysql4</class>
                <entities>
                    <attribute>
                        <table>amasty_amconf_attribute</table>
                    </attribute>
                    <product_attribute>
                        <table>amasty_amconf_product_attribute</table>
                    </product_attribute>
                </entities>
            </amconf_mysql4>

            <catalog>
                <rewrite>
                    <product_type_configurable_price>Amasty_Conf_Model_Catalog_Product_Type_Configurable_Price</product_type_configurable_price>
                </rewrite>
            </catalog>
        </models>
        
        <resources>
            <amconf_setup>
                <setup>
                    <module>Amasty_Conf</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </amconf_setup>
            <amconf_write>
                <connection><use>core_write</use></connection>
            </amconf_write>
            <amconf_read>
                <connection><use>core_read</use></connection>
            </amconf_read>
        </resources>
        
        <blocks>
            <amconf>
                <class>Amasty_Conf_Block</class>
            </amconf>
            
            <adminhtml>
                <rewrite>
                    <catalog_product_attribute_edit_tabs>Amasty_Conf_Block_Adminhtml_Catalog_Product_Attribute_Edit_Tabs</catalog_product_attribute_edit_tabs>
                </rewrite>
            </adminhtml>
            
            <catalog>
                <rewrite>
                    <product_view_type_configurable>Amasty_Conf_Block_Catalog_Product_View_Type_Configurable</product_view_type_configurable>
                    <product_view_media>Amasty_Conf_Block_Catalog_Product_View_Media</product_view_media>
                </rewrite>
            </catalog>
        </blocks>
        
        <helpers>
            <amconf>
                <class>Amasty_Conf_Helper</class>
            </amconf>
        </helpers>
        
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <amconf>
                        <class>amconf/observer</class>
                        <method>onListBlockHtmlBefore</method>
                    </amconf>
                    <super_product_attributes_configuration>
                        <class>amconf/observer</class>
                        <method>onSuperProductAttributesConfigurationAfter</method>
                    </super_product_attributes_configuration>
                </observers>
            </core_block_abstract_to_html_after>
            <catalog_product_prepare_save>
                <observers>
                    <super_product_attributes_prepare_save>
                        <class>amconf/observer</class>
                        <method>onSuperProductAttributesPrepareSave</method>
                    </super_product_attributes_prepare_save>
                </observers>
            </catalog_product_prepare_save>
       </events>
	
	<sales>
            <quote>
                <item>
                    <product_attributes>
                        <amconf_simple_price/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
    </global>
    
    <default>
        <amconf>
           <general>
                <hide_dropdowns>0</hide_dropdowns>
                <reload_images>1</reload_images>
                <reload_name>1</reload_name>
                <show_clear>1</show_clear>
                <oneselect_reload>0</oneselect_reload>
		<show_title_view>1</show_title_view>
                <show_attribute_title>1</show_attribute_title>
		<use_simple_price>0</use_simple_price>
           </general>
           <list>
                <enable_list>0</enable_list>
                <!--<list_ajax>0</list_ajax>-->
                <listimg_size>18</listimg_size>
                <show_title_list>1</show_title_list>
           </list>
          <size>
                <thumb>72</thumb>
                <preview_width>265</preview_width>
                <preview_height>265</preview_height>
           </size>
           <zoom>
                <enable>1</enable>
                <type>lens</type>
                <change_main_img_with>click</change_main_img_with>
           </zoom>
           <zoom_settings>
                <viewer_position>1</viewer_position> 
                <offset_x>10</offset_x> 
                <offset_y>10</offset_y> 
                <viewer_width>300</viewer_width>
                <viewer_height>300</viewer_height>
                <preloading>1</preloading>
                <fadein>1</fadein>
                <easing>1</easing>  
                <scroll>1</scroll>  
                <use_tint_effect>0</use_tint_effect> 
                <tint_color>#F90</tint_color> 
                <lens_size>200</lens_size> 
           </zoom_settings>
           <carousel>
                <enable>1</enable>
                <visible_items>3</visible_items>
                <circular>1</circular>
                <swipe>1</swipe>
                <mousewheel>1</mousewheel>
                <auto>0</auto>
                <pagination>1</pagination>
                <!--carousel_direction></carousel_direction-->
           </carousel>
           <lightbox>
                <enable>1</enable>
                <circular_lightbox>1</circular_lightbox>
                <title_position>float</title_position>
                <effect>fade</effect>
                <thumbnail_helper>1</thumbnail_helper>
                <thumbnail_lignhtbox>0</thumbnail_lignhtbox>
           </lightbox>
           <product_image_size>
                <thumb>56</thumb>
                <enable_jquery>1</enable_jquery>
                <have_button>1</have_button>
                <enable_all_zoom>0</enable_all_zoom>
           </product_image_size>
        </amconf>
    </default>
</config>
