<?xml version="1.0"?>
<config>
    <modules>
        <Extendware_EWMinify>
            <version>1.6.3</version>
            <extendware>
	            <copyright_holder>extendware</copyright_holder>
	            <configure_url>extendware_ewminify/adminhtml_config/index</configure_url>
            </extendware>
        </Extendware_EWMinify>
    </modules>
    <admin>
        <routers>
			<extendware_ewminify>
				<use>admin</use>
				<args>
					<module>Extendware_EWMinify</module>
					<frontName>extendware_ewminify</frontName>
				</args>
			</extendware_ewminify>
        </routers>
    </admin>
    <adminhtml>
    	<translate>
			<modules>
				<Extendware_EWMinify>
					<files>
						<default>extendware/Extendware_EWMinify.csv</default>
					</files>
				</Extendware_EWMinify>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewminify>
					<file>extendware/ewminify.xml</file>
				</ewminify>
			</updates>
		</layout>
		<routers></routers>
	</adminhtml>
	<frontend>
		<translate></translate>
		<layout></layout>
		 <events>
            <controller_action_postdispatch>
                <observers>
                    <extendware_ewminify>
                        <class>ewminify/observer</class>
                        <method>processPostDispatch</method>
                    </extendware_ewminify>
                </observers>
            </controller_action_postdispatch>
        </events>
		<routers></routers>
    </frontend>
    <global>
        <models>
            <ewminify>
                <class>Extendware_EWMinify_Model</class>
            </ewminify>
        </models>
        <blocks>
			<ewminify>
                <class>Extendware_EWMinify_Block</class>
            </ewminify>
        </blocks>
		<helpers>
			<ewminify>
				<class>Extendware_EWMinify_Helper</class>
			</ewminify>
		</helpers>
		<resources></resources>
		<events></events>
		<template></template>
    </global>
    <input></input>
    <crontab>
    	<jobs>
			<ewminify_optimizeImages>
				<!-- every 2 hours - change if you want it to be more frequent -->
	            <schedule><cron_expr>*/43 */2 * * *</cron_expr></schedule>
	            <run><model>ewminify/observer::optimizeImages</model></run>
	        </ewminify_optimizeImages>
		</jobs>
	</crontab>
	<default>
		<ewminify>
			<general>
				<java_path>/usr/java/bin/java</java_path>
				<php_path>php</php_path>
				<execution_mode>internal</execution_mode>
				<filemtime_enabled>0</filemtime_enabled>
				<rewrites_enabled>0</rewrites_enabled>
				<lock_time>1800</lock_time>
			</general>
			<developer>
				<verbose_log>0</verbose_log>
			</developer>
		</ewminify>
		<ewminify_files>
			<frontend_files>
                <merge_js>always</merge_js>
                <merge_css>always</merge_css>
                <js_compressor>none</js_compressor>
                <css_compressor>none</css_compressor>
			</frontend_files>
			<frontend_blocks>
                <enabled>0</enabled>
                <mode>page</mode>
                <js_compressor>none</js_compressor>
                <css_compressor>none</css_compressor>
			</frontend_blocks>
			<adminhtml_files>
                <merge_js>never</merge_js>
                <merge_css>never</merge_css>
                <js_compressor>none</js_compressor>
                <css_compressor>none</css_compressor>
			</adminhtml_files>
			<adminhtml_blocks>
                <enabled>0</enabled>
                <mode>page</mode>
                <js_compressor>none</js_compressor>
                <css_compressor>none</css_compressor>
			</adminhtml_blocks>
		</ewminify_files>
		<ewminify_images>
			<frontend_images>
                <css_image_cache_enabled>1</css_image_cache_enabled>
                <catalog_image_cache_enabled>1</catalog_image_cache_enabled>
                <skin_image_cache_enabled>1</skin_image_cache_enabled>
                <css_image_optimizing_enabled>0</css_image_optimizing_enabled>
                <catalog_image_optimizing_enabled>0</catalog_image_optimizing_enabled>
                <skin_image_optimizing_enabled>0</skin_image_optimizing_enabled>
			</frontend_images>
			<adminhtml_images>
                <css_image_cache_enabled>0</css_image_cache_enabled>
                <css_image_optimizing_enabled >0</css_image_optimizing_enabled>
                <skin_image_cache_enabled>0</skin_image_cache_enabled>
                <catalog_image_cache_enabled>0</catalog_image_cache_enabled>
                <catalog_image_optimizing_enabled>0</catalog_image_optimizing_enabled>
                <skin_image_optimizing_enabled>0</skin_image_optimizing_enabled>
			</adminhtml_images>
			<developer>
				<optimizer_mode>cronjob</optimizer_mode>
                <gif_optimizer><![CDATA[gifsicle -b -O3 %s 2>&1]]></gif_optimizer>
                <jpg_optimizer><![CDATA[/usr/local/bin/jpegoptim --strip-all %s 2>&1]]></jpg_optimizer>
                <png_optimizer><![CDATA[optipng -o7 %s 2>&1]]></png_optimizer>
			</developer>
		</ewminify_images>
		<ewminify_advanced>
			<custom_path>
				<js>js</js>
				<slug>extendware/ewminify</slug>
			</custom_path>
		</ewminify_advanced>
	</default>
	<extendware>
		<override>
			<model>
				<mage_core_layout_update_ewminfy_override>
           			<mode>extendware</mode>
           			<search><class>Mage_Core_Model_Layout_Update</class></search>
           			<replace>
           				<class>Extendware_EWMinify_Model_Override_Mage_Core_Layout_Update</class>
            			<order>100</order>
           			</replace>
           		</mage_core_layout_update_ewminfy_override>
           		<mage_core_design_package_ewminfy_override>
           			<mode>extendware</mode>
           			<search><class>Mage_Core_Model_Design_Package</class></search>
           			<replace>
           				<class>Extendware_EWMinify_Model_Override_Mage_Core_Design_Package</class>
            			<order>100</order>
           			</replace>
           		</mage_core_design_package_ewminfy_override>
           		<mage_catalog_product_image_override_ewminify_override>
					<mode>extendware</mode>
					<search><class>Mage_Catalog_Model_Product_Image</class></search>
					<replace>
						<class>Extendware_EWMinify_Model_Override_Mage_Catalog_Product_Image</class>
						<order>100</order>
					</replace>
				</mage_catalog_product_image_override_ewminify_override>
			</model>
			<block>
				<mage_core_template_ewminify_override>
					<mode>extendware</mode>
					<search><class>Mage_Core_Block_Template</class></search>
					<replace>
						<class>Extendware_EWMinify_Block_Override_Mage_Core_Template</class>
						<order>100</order>
					</replace>
				</mage_core_template_ewminify_override>
				<mage_page_html_head_override_ewminify_override>
					<mode>extendware</mode>
					<search><class>Mage_Page_Block_Html_Head</class></search>
					<replace>
						<class>Extendware_EWMinify_Block_Override_Mage_Page_Html_Head</class>
						<order>100</order>
					</replace>
				</mage_page_html_head_override_ewminify_override>
			</block>
	   </override>
	</extendware>
</config>
