<?xml version="1.0"?>
<config>
    <modules>
        <BusinessKing_CmsMetaTitle>
            <version>0.1.0</version>
        </BusinessKing_CmsMetaTitle>
    </modules>
    
    <frontend>
        <routers>
         <cmsmetatitle>
            <use>standard</use>
            <args>
               <module>BusinessKing_CmsMetaTitle</module>
               <frontName>cmsmetatitle</frontName>
            </args>
         </cmsmetatitle>
        </routers>
    </frontend>
        
	<global>
		<blocks>
			<cmsmetatitle>
				<class>BusinessKing_CmsMetaTitle_Block</class>
			</cmsmetatitle>
			<adminhtml>
				<rewrite>
					<cms_page_edit_tab_meta>BusinessKing_CmsMetaTitle_Block_Adminhtml_Cms_Page_Edit_Tab_Meta</cms_page_edit_tab_meta>
				</rewrite>
			</adminhtml>	
			<cms>
				<rewrite>
					<page>BusinessKing_CmsMetaTitle_Block_Cms_Page</page>
				</rewrite>
			</cms>		
		</blocks>
		<models>
			<cmsmetatitle>
				<class>BusinessKing_CmsMetaTitle_Model</class>
				<resourceModel>cmsmetatitle_mysql4</resourceModel>
			</cmsmetatitle>
			<cms_mysql4>
				<rewrite>
					<page>BusinessKing_CmsMetaTitle_Model_Mysql4_Cms_Page</page>
				</rewrite>
			</cms_mysql4>			
			<cmsmetatitle_mysql4>
				<class>BusinessKing_CmsMetaTitle_Model_Mysql4</class>
				<entities>
					<meta_title>
						<table>cms_page_metatitle</table>
					</meta_title>										
				</entities>
			</cmsmetatitle_mysql4>
		</models>
		<resources>
            <cmsmetatitle_setup>
                <setup>
                    <module>BusinessKing_CmsMetaTitle</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cmsmetatitle_setup>
            <cmsmetatitle_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cmsmetatitle_write>
            <cmsmetatitle_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cmsmetatitle_read>            
        </resources>    
	</global>
	
</config>