<?xml version="1.0"?>
<config>
    <modules>
        <Extendware_EWCartReminder>
            <version>1.6.3</version>
            <extendware>
	            <copyright_holder>extendware</copyright_holder>
	            <configure_url>extendware_ewcartreminder/adminhtml_config/index</configure_url>
            </extendware>
        </Extendware_EWCartReminder>
    </modules>
    <admin>
        <routers>
			<extendware_ewcartreminder>
				<use>admin</use>
				<args>
					<module>Extendware_EWCartReminder</module>
					<frontName>extendware_ewcartreminder</frontName>
				</args>
			</extendware_ewcartreminder>
        </routers>
    </admin>
    <frontend>
		<translate>
			<modules>
				<Extendware_EWCartReminder>
					<files>
						<default>extendware/Extendware_EWCartReminder.csv</default>
					</files>
				</Extendware_EWCartReminder>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewcartreminder>
					<file>extendware/ewcartreminder.xml</file>
				</ewcartreminder>
			</updates>
		</layout>
		<routers>
            <ewcartreminder>
                <use>standard</use>
                <args>
                    <module>Extendware_EWCartReminder</module>
                    <frontName>ewcartreminder</frontName>
                </args>
            </ewcartreminder>
        </routers> 
    </frontend>
    <adminhtml>
        <translate>
			<modules>
				<Extendware_EWCartReminder>
					<files>
						<default>extendware/Extendware_EWCartReminder.csv</default>
					</files>
				</Extendware_EWCartReminder>
			</modules>
		</translate>
        <layout>
			<updates>
				<ewcartreminder>
					<file>extendware/ewcartreminder.xml</file>
				</ewcartreminder>
			</updates>
		</layout>
		<routers></routers>
    </adminhtml>
    <global>
        <models>
            <ewcartreminder>
                <class>Extendware_EWCartReminder_Model</class>
                <resourceModel>ewcartreminder_mysql4</resourceModel>
            </ewcartreminder>
            <ewcartreminder_mysql4>
                <class>Extendware_EWCartReminder_Model_Mysql4</class>
                <entities>
                    <reminder>
                        <table>ewcartreminder_reminder</table>
                    </reminder>
                    <history>
                        <table>ewcartreminder_history</table>
                    </history>
                    <blacklist>
                        <table>ewcartreminder_blacklist</table>
                    </blacklist>
                </entities>
            </ewcartreminder_mysql4>
        </models>
        <blocks>
            <ewcartreminder>
                <class>Extendware_EWCartReminder_Block</class>
            </ewcartreminder>
        </blocks>
        <helpers>
            <ewcartreminder>
                <class>Extendware_EWCartReminder_Helper</class>
            </ewcartreminder>
        </helpers>
        <template>
            <email>
               <ewcartreminder_reminder_email_template translate="label" module="ewcartreminder">
                   <label>Abandoned Cart Reminder (extendware)</label>
                   <file>extendware/ewcartreminder/reminder.html</file>
                   <type>html</type>
               </ewcartreminder_reminder_email_template>
            </email>
        </template>
        <events>       
            <sales_order_place_after>
                <observers>
                    <ewcartreminder>
                        <type>singleton</type>
                        <class>ewcartreminder/observer_event</class>
                        <method>processOrderCreatedEvent</method>
                    </ewcartreminder>
                </observers>
            </sales_order_place_after>
            <ewcartreminder_before_send>
                <observers>
                    <ewcartreminder>
                        <type>singleton</type>
                        <class>ewcartreminder/observer_public</class>
                        <method>beforeSend</method>
                    </ewcartreminder>
                </observers>
            </ewcartreminder_before_send>
        </events>
        <resources>
            <ewcartreminder_setup>
                <setup>
                    <module>Extendware_EWCartReminder</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ewcartreminder_setup>
            <ewcartreminder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ewcartreminder_write>
            <ewcartreminder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ewcartreminder_read>
        </resources>
    </global>
    <input></input>
    <crontab>
        <jobs>
            <ewcartreminder_generate>
                <!-- each 5 minutes -->
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>ewcartreminder/observer_cronjob::generateReminders</model></run>
            </ewcartreminder_generate>
            <ewcartreminder_send>
                <!-- each 5 minutes -->
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>ewcartreminder/observer_cronjob::sendReminders</model></run>
            </ewcartreminder_send>
            <ewcartreminder_stats>
                <!-- every hour -->
                <schedule><cron_expr>0 * * * *</cron_expr></schedule>
                <run><model>ewcartreminder/observer_cronjob::updateCouponStats</model></run>
            </ewcartreminder_stats>
            <ewcartreminder_cleanup>
                <!-- every 12 hours -->
                <schedule><cron_expr>0 */12 * * *</cron_expr></schedule>
                <run><model>ewcartreminder/observer_cronjob::cleanupSalesRules</model></run>
            </ewcartreminder_cleanup>
        </jobs> 
    </crontab>
    <default>
        <ewcartreminder>
            <general>
            	<status>1</status>
                <num_reminders>3</num_reminders>
                <stop_after_visit>1</stop_after_visit>
                <stop_after_order>1</stop_after_order>
                <ajax_enabled>1</ajax_enabled>
            </general>  
            <generation>
                <status>1</status>
                <delay_magnitude>1</delay_magnitude>
                <delay_period>hour</delay_period>
                <exclude_hidden_products_enabled>0</exclude_hidden_products_enabled>
                <disabled_customer_groups></disabled_customer_groups>
                <quote_reset_period>60</quote_reset_period>
                <order_protection_period>1</order_protection_period>
                <reminder_protection_period>30</reminder_protection_period>
            </generation> 
            <email>
            	<status>1</status>
            	<sender_identity>general</sender_identity> 
    			<default_customer_name>Valued Customer</default_customer_name> 
    			<bcc/>
    		</email>
    		<advanced>
            	<redirect_route>checkout/cart</redirect_route>
    		</advanced>
        </ewcartreminder>
    </default>
    <extendware></extendware>
</config>
