.clearer {
  clear: both;
  content: "";
  overflow: hidden;
}

/*Page not found*/
.cms-index-noroute .main{
    background: url("../images/404-bg.png");
    width: 100%;
    min-height: 720px;
    background-repeat: none;
    background-size: 100% 100%;
}
.cms-index-noroute #newsletter-container{
    display: none;
}
.page-not-found{
    width: 50%;
    margin-right: 10%;
    padding-left: 10%;
    text-align: center;
    padding-top:150px;
}
.page-not-found a{
    color: #72a8e4;
    text-decoration: underline;
}
.page-not-found #pnf-search {
    border: 1px solid #cccccc;
    height: 40px;
    padding: 0 15px;
    background-color: white;
    background-repeat: no-repeat;
}
.page-not-found .page-title h3{
    font-size: 30px;
    font-weight: bold;
}
.page-not-found .pnf-button {
    background: url("../images/pnf-search.png");
    background-position: center right;
    background-color: white;
    background-repeat: no-repeat;
    border: medium none;
    height: 30px;
    left: -45px;
    width: 35px;
    top:-3px;
    position: relative;
}

/*Login page*/
.customer-account-login .main{
    margin-top: 130px;
}
.customer-account-login {

}

.customer-account-login .account-login{
    margin: auto;
    padding: 40px 0;
    width: 850px;
}
.customer-account-login .col2-set .col-1 .buttons-set{
    width:  100%;
    padding-right: 65px;
}
.customer-account-login .col2-set .col-1 .buttons-set button, .customer-account-login .col2-set .col-1 .buttons-set .button{
    padding: 10px 0;
    width: 100%;
}
.customer-account-login .col2-set .col-2 .buttons-set button, .customer-account-login .col2-set .col-2 .buttons-set .button {
    float: none;
    margin: 0;
    min-width: 85%;
    padding: 10px 30px;
}
.customer-account-login .col2-set .col-2 {
    margin-top: 20px;
    padding-top: 0;
}
.customer-account-login .col2-set .col-2 h2,
.customer-account-login .col-1 .content h2{
    text-transform: none;
}
.customer-account-login .col-1 .content {
    margin-top: 27px;
}

.customer-account-login .col-main{
    min-height: 620px;
}
.customer-account-login p.required{
    clear: both;
    color: #df280a;
    float: right;
    font-size: 13px;
    margin-top: 15px;
    padding-left: 65px;
    width: 50%;
}
.customer-account-login .col2-set .col-2{
    padding-bottom: 0px;
}
.customer-account-login .col2-set .col-1, .customer-account-login .col2-set .col-2{
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.customer-account-create .page-title h1, .page-title h2{text-align: center}
.customer-account-create .account-create{
    margin: auto;
    /*width: 370px;*/
    margin-top: 50px;
}
.customer-account-create .fieldset, .customer-account-create .buttons-set{
    margin-left: 0px;
}
.customer-account-create .col-main{
    min-height: 620px;
}
.customer-account-create .input-text:focus{
    -moz-box-shadow: 0 0 6px #a3a3a6;
    -webkit-box-shadow: 0 0 6px#a3a3a6;
    box-shadow: 0 0 6px #a3a3a6;
}

.customer-account-login .page, .customer-account-create .page{
    background-image: url("../images/create-account.png");
    background-repeat: no-repeat;
    background-color: inherit;
    background-size: cover;
}
.customer-account-login .account-login{
    background-color: white;
    margin-top: 80px;
}
.customer-account-login .account-login{
    padding:40px;
}
.button{
    background-color: #4d91d5;
}
.account-title > span{
    font-size: 20px;
}
.account-title {
    background: #f7f8f9 none repeat scroll 0 0;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.account-create{
    background-color: white;
}
.customer-account-create .account-create{
    margin-top: 80px;
    max-width: 760px;
    padding: 25px 10px;
    margin-bottom: 200px;
}
.form-list .fields .field:last-child{
    float: right;

}
.form-list .fields .field, .form-list .fields .field:first-child{
    float: left;
    width: 48%;
}
.customer-account-create .form-list select{
    height: 35px;
    margin-top: 0px;
}
.customer-account-create .field label{
    display: none;
}
.form-list .fields .field{
    margin-bottom: 25px;
}
.form-list .fields .field input{
    height: 35px;
}
.customer-account-create .buttons-set{
    border:none;
}
.form-list .control label{
    padding-left: 0px;
}

/*About us*/
.cms-about-us .page-title{
    display: none;
}
.cms-about-us .col1-layout{
    margin: 0!important;
    padding: 0!important;
}
.cms-page-view.cms-about-us .main{
    margin: 0px;
}
.slider-top {
    background-image: url("../images/about-us-banner.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding: 100px 0;
    text-align: center;
}
.cms-page-view .col1-layout .col-main .std{
    margin: 0!important;
    padding: 0!important;
}

.about-us-container .content{
    padding: 35px 30px;
}
.cms-about-us .menu-left {
    float: left;
    width: 180px;
}
.cms-about-us .content-right {
    float: left;
    width: calc(100% - 230px);
    margin-left: 50px;
}
.cms-about-us .content-right .maincontent .left{
    float: left;
    width: 46%;
}
.cms-about-us .content-right .maincontent .right{
    float: left;
    width: 50%;
}
.cms-about-us .services{
    clear: both;
    padding: 30px 100px;
}
.cms-about-us .services div{
    width: 30%;
    float: left;
    margin-right: 3%;
}
.cms-about-us .services div:last-child{
    margin-right: 0;
}
.cms-about-us .testimonial{
    clear: both;
    background: #bbbbbb;
    text-align: center;
    padding: 50px 0;
    margin-top: 50px;
}
.cms-about-us .founder{
    padding: 30px 70px;
}
.founder-left, .founder-right {
    float: left;
    width: 50%;
}
.founder-left img, .fonder-right img{
    float: left;
    margin-right: 10px;
}
.cms-about-us .std .slider-text p{
    color:white;
    font-size: 23px;
    line-height: 25px;
    margin: 0px;
}
.cms-about-us .std .slider-text p:last-child{
    margin: 10px 0 0;
    font-size: 22px;
}
.cms-about-us .std .slider-text p:first-child{
    text-transform: uppercase;

}
.cms-about-us .std .slider-text p span{
    font-size: 60px;
    line-height: 70px;
}
.cms-about-us .menu-left, .cms-faqs .menu-left{
    width: 196px;
    float:left;
}
.cms-about-us .menu-left ul, .cms-faqs .menu-left ul{
    list-style: none;
}
.cms-about-us .std .menu-left li, .cms-faqs .menu-left li{
    color:black;
    font-style: normal;
    padding: 15px 0;
    border-bottom: 1px solid #cccccc;
}
.cms-about-us .std .menu-left li:last-child,  .cms-faqs .menu-left li:last-child{
    border-bottom: none;
}
.cms-about-us .std .menu-left li:first-child, .cms-faqs .menu-left li:first-child{
    padding-top: 0px;
}
.cms-about-us .menu-left li a, .cms-faqs .menu-left li a{
    color:black;
}
.cms-about-us .menu-left li.active, .cms-faqs .menu-left li.active{
    color:#458ddb;
}
.cms-page-view .std img, .cms-no-route .std img{
    margin: auto auto 20px;
}
.cms-faqs .main-container.col1-layout, .cms-about-us .main-container.col1-layout, .contacts-index-index .main-container.col1-layout,.cms-brand .main-container.col1-layout, .checkout-cart-index{
    margin-top: 150px;
}

.cms-faqs .breadcrumbs, .cms-about-us .breadcrumbs{
    display: none;
}
.faqs-top {
    background: #f7f8f9 none repeat scroll 0 0;
    height: 62px;
    line-height: 62px;
    text-align: center;
}
.std .faqs-top p {
    font-size: 18px;
    font-style: normal;
    line-height: 62px;
}
.faqs-top p{
    font-size: 18px;
    font-style: normal;
    line-height: 62px;
}
.faq-q-a {
    width: calc(100% - 265px);
    float: right;
}
.faq.faq-left {
    clear: both;
    float: left;
    margin-right: 2%;
    width: 48%;
}
.faq.faq-right{
    float: left;
    width: 50%;
}
.faqs-content {
    padding: 50px 70px;
    float: left;
}
.faq::before {
    background: #e5e5e5 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    content: "Q";
    display: inline-block;
    height: 30px;
    line-height: 31px;
    margin-right: 10px;
    text-align: center;
    width: 30px;
}
/*Contact us*/
#contactForm {
    padding: 40px;
}
.contact-left {
    float: left;
    width: 50%;
}
.contact-right{
    width: 50%;
    float: right;
}
.contact-block {
    padding: 50px 70px;
}
.contact-block .left-block img{
    float: left;
    margin-right: 30px;
}
.contact-block .left-block{
    clear:both;
    margin-bottom: 50px;
}
.contact-block .left-block span{
    line-height: 50px;
}
.left-block p span{
    margin-right: 15px;
}
.open-right {
    float: left;
}
.open p span{
    line-height: 35px!important;
}
.open img{
    margin-top: 30px;
}
.contacts-index-index .fieldset, #contactForm {
    clear: both;
    margin: auto;
    max-width: 580px;
    padding-top: 50px;
}
.contacts-index-index #contactForm input[type="email"],  .contacts-index-index #contactForm input[type="text"]{
    width: 100%;
}
.contacts-index-index  textarea {
    width: 100%;
    max-width: 100%;
}
.contacts-index-index input:focus, .contacts-index-index  textarea:focus{
    border: 1px solid silver!important;
}
.contacts-index-index .form-list .fields .field{
    margin-bottom: 0px;
}
.contacts-index-index #contactForm .input-box{
    margin-bottom: 25px;
}
.contacts-index-index #contactForm .buttons-set{
    border:none;
    max-width: 100%;
}
.contacts-index-index  #contactForm input[type="email"] {
    height: 35px;
}
.contacts-index-index .buttons-set button.button {
    float: right;
    font-size: 1.3em;
    margin-left: 5px;
    min-width: 140px;
    padding: 15px 30px;
}
/*cms brand*/

.cms-brand .main {
    background: url("../images/brand.png");
    background-size: auto 100%;
    padding:20px 50px 40px;
}
.brand-col-1 {
    clear: both;
    float: left;
    margin-bottom: 25px;
    margin-right: 2%;
    margin-top: 10px;
    width: 18%;
}

.brand-col-2 {
    float: left;
    margin-right: 2%;
    margin-top: 10px;
    width: 18%;
}
.brand-col-3 {
    float: left;
    margin-right: 2%;
    margin-top: 10px;
    width: 18%;
}
.brand-col-4 {
    float: left;
    margin-right: 2%;
    margin-top: 10px;
    width: 18%;
}
.brand-col-5 {
    float: left;
    margin-right: 0;
    margin-top: 10px;
    width: 20%;
}
ul.brands {
    margin-bottom: 35px;
    padding: 7px 11px 7px 0;
}
ul.brands li {
    display: inline;
    margin: 0 16px;
}
ul.brands li:first-child{
    margin-left: 0px;
}
ul.brands li a {
    font-size: 16px;
    color: #000000;
    font-style: normal;
}
.brand-col-1 a, .brand-col-2 a, .brand-col-3 a, .brand-col-4 a, .brand-col-5 a {
    color: #000000;
    font-style: normal;
}
.cms-brand .page-title h1 {
    font-weight: normal;
    text-align: center;
    text-transform: none;
}
.cms-brand .std p {
    line-height: 12px;
}
.cms-brand .std p strong{
    line-height: 1.2em;
    font-size: 1.2em;
}
.cart {
    background-image: url("../images/status1.png");
    background-repeat: no-repeat;
    padding-top: 50px;
}
/*Product page*/
.product-view{
    padding-top:30px;
}
.product-view:after{
    content: '';
    clear: both;
    display: block;
}
.product-brand {
    font-size: 20px;
    font-family: "Century Gothic",Verdana,Arial,sans-serif;
    color:black;
}
.catalog-product-view .availability {
    clear:both;
}
.catalog-product-view .price-box {
    clear: both;
}
.catalog-product-view .product-view .product-shop .price-box .regular-price .price,
.catalog-product-view .product-view .product-shop .price-box .full-product-price .price{
    color: black;
    font-family: 'Neuton-Regular';
    font-size: 32px;
}
.product-short-dest {
    margin-bottom:20px;
}
.product-feature-descirption {
    background:#f7f8f9;
    padding:30px 50px;
    float:left;
}
.catalog-product-view  .left-info {
    float: left;
    width: 47%;
}
.catalog-product-view  .right-info {
    float: right;
    width: 50%;
    margin-bottom:15px;
}
.product-feature-descirption .title{
    text-transform:uppercase;
    font-size: 1.2em;
    margin-bottom:15px;
}
.catalog-product-view .info-block{
    margin-bottom:30px;
}
.catalog-product-view .info-block #product-attribute-specs-table, .info-block #product-attribute-specs-table th, .info-block .data-table thead th, .data-table tbody td{
    border:none!important;
}
.info-block .data-table th{
    border:none!important;
    text-transform: capitalize;
    padding: 10px 0;
    background:none;
}
@media screen and (min-width: 450px) and (max-width: 849px){
    .customer-account-login .col2-set .col-1, .customer-account-login .col2-set .col-2{
        clear: both;
        width: 100%;
        margin: auto;
        border-left: none;
        padding-right: 0;
        padding-left: 0;
        margin-right: 0;
        margin-left: 0;
    }
    .customer-account-login .account-login{
        width: 80%;
        margin: auto;
    }
    .customer-account-login .col2-set .col-2{
        margin-top: 40px;
        padding-top: 20px;
    }
    .customer-account-login .col2-set .col-1 .buttons-set, .customer-account-login .col2-set .col-2 .buttons-set{
        width: 100%;
    }
    .customer-account-login .col2-set .col-1 .buttons-set button, .customer-account-login .col2-set .col-2 .buttons-set .button{
        width: 100%;
    }
    .customer-account-login .col2-set .col-1 .buttons-set, .customer-account-login .col2-set .col-2 .buttons-set{
        padding-right: 0px;
    }
    .customer-account-login input[type="email"],  .customer-account-login input[type="password"]{
        width: 100%;
    }
}
@media screen and (max-width: 449px){
    .customer-account-login .col2-set .col-1, .customer-account-login .col2-set .col-2{
        clear: both;
        width: 100%;
        margin: auto;
        border-left: none;
        padding-right: 0;
        padding-left: 0;
        margin-right: 0;
        margin-left: 0;
    }
    .customer-account-login .account-login{
        width: 90%;
        margin: auto;
    }
    .customer-account-login .account-login{
        padding-top: 20px;
    }
    .customer-account-login .col-1 .content{
        margin-top: 20px;
    }

    .customer-account-login .col2-set .col-2{
        margin-top: 40px;
        padding-top: 20px;
    }
    .customer-account-login .col2-set .col-1 .buttons-set, .customer-account-login .col2-set .col-2 .buttons-set{
        width: 100%;
    }
    .customer-account-login .col2-set .col-1 .buttons-set button, .customer-account-login .col2-set .col-2 .buttons-set .button{
        width: 100%;
    }
    .customer-account-login .col2-set .col-1 .buttons-set, .customer-account-login .col2-set .col-2 .buttons-set{
        padding-right: 0px;
    }
    .customer-account-login input[type="email"], .customer-account-login input[type="password"] {
        width: 100%;
    }
}