.clearer {
  clear: both;
  content: "";
  overflow: hidden;
}
/*About us*/
.cms-about-us .page-title{
    display: none;
}
.cms-about-us .col1-layout{
    margin: 0!important;
    padding: 0!important;
}
.cms-page-view.cms-about-us .main{
    margin: 0px;
}
.slider-top {
    background-image: url("../images/about-us-banner.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding: 100px 0;
    text-align: center;
}
.cms-page-view .col1-layout .col-main .std{
    margin: 0!important;
    padding: 0!important;
}

.about-us-container .content{
    padding: 35px 30px;
}
.cms-about-us .menu-left {
    float: left;
    width: 180px;
}
.cms-about-us .content-right {
    float: left;
    width: calc(100% - 230px);
    margin-left: 50px;
}
.cms-about-us .content-right .maincontent .left{
    float: left;
    width: 46%;
}
.cms-about-us .content-right .maincontent .right{
    float: left;
    width: 50%;
}
.cms-about-us .services{
    clear: both;
    padding: 30px 100px;
}
.cms-about-us .services div{
    width: 30%;
    float: left;
    margin-right: 3%;
}
.cms-about-us .services div:last-child{
    margin-right: 0;
}
.cms-about-us .testimonial{
    clear: both;
    background: #bbbbbb;
    text-align: center;
    padding: 50px 0;
    margin-top: 50px;
}
.cms-about-us .founder{
    padding: 30px 70px;
}
.founder-left, .founder-right {
    float: left;
    width: 50%;
}
.founder-left img, .fonder-right img{
    float: left;
    margin-right: 10px;
}
.cms-about-us .std .slider-text p{
    color:white;
    font-size: 23px;
    line-height: 25px;
    margin: 0px;
}
.cms-about-us .std .slider-text p:last-child{
    margin: 10px 0 0;
    font-size: 22px;
}
.cms-about-us .std .slider-text p:first-child{
    text-transform: uppercase;

}
.cms-about-us .std .slider-text p span{
    font-size: 60px;
    line-height: 70px;
}
.cms-about-us .menu-left ul{
    list-style: none;
}
.cms-about-us .std .menu-left li{
    color:black;
    font-style: normal;
    padding: 15px 0;
    border-bottom: 1px solid #cccccc;
}
.cms-about-us .std .menu-left li:last-child{
    border-bottom: none;
}
.cms-about-us .std .menu-left li:first-child{
    padding-top: 0px;
}
.cms-about-us .menu-left li a{
    color:black;
}
.cms-about-us .menu-left li.active{
    color:#458ddb;
}
.cms-page-view .std img, .cms-no-route .std img{
    margin: auto auto 20px;
}
.services span{
    text-transform: uppercase;
    font-size:20px;
}
.services p{
    text-align: center;
}
.testimonial p.title{
    font-size: 33px;
    text-transform: uppercase;
    color: white;
    font-style: normal;
}
.testimonial p, .testimonial p{
    margin: 0;
    padding:20px 0;
    color: white!important;
}
.testimonial p:last-child{
    padding: 0 0 10px;
}
.testimonial p.open-quote{
    padding-bottom:0px;
}
.testimonial p.open-quote, .testimonial p.close-quote{
    font-size: 67px;
    color:white;
}
.about-us-container h1{
   color:black!important;
}
.founder .div-img{
    margin: 5px 10px 10px;
    float: left;
}
.founder .name{
    font-weight: bold;
    font-size: 22px;
    text-transform: capitalize;
}
.founder .detail div{
    margin:5px 0;
}
.cms-page-view.cms-about-us p{
    color: #000000;
    font-style: normal;
}