@charset "UTF-8";
@-webkit-keyframes menuOpen {
  /* line 87, ../scss/mixin/_menu.scss */
  0% {
    width: 0;
  }

  /* line 88, ../scss/mixin/_menu.scss */
  100% {
    width: 80%;
  }
}

@-webkit-keyframes cartOpen {
  /* line 91, ../scss/mixin/_menu.scss */
  0% {
    opacity: 0;
  }

  /* line 92, ../scss/mixin/_menu.scss */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes searchOpen {
  /* line 95, ../scss/mixin/_menu.scss */
  0% {
    height: 0;
  }

  /* line 96, ../scss/mixin/_menu.scss */
  100% {
    height: 100%;
  }
}

/* ============================================ *
 * Homepage
 * ============================================ */
/* -------------------------------------------- *
 * Primary Banner
 */
@font-face {
  font-family: 'Neuton-Regular';
  src: url("../fonts/Neuton-Regular.eot");
  src: local("☺"), url("../fonts/Neuton-Regular.woff") format("woff"), url("../fonts/Neuton-Regular.ttf") format("truetype"), url("../fonts/Neuton-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot");
  src: local("☺"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 49, ../scss/content/_home.scss */
body.cms-home .main-container {
  margin-top: 50px;
}
/* line 53, ../scss/content/_home.scss */
body.cms-home .slideshow-container {
  margin-top: 0;
}

/* line 57, ../scss/content/_home.scss */
.row2 {
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}
/* line 61, ../scss/content/_home.scss */
.row2 .row {
  height: 100%;
}
/* line 63, ../scss/content/_home.scss */
.row2 .row .item {
  height: 100%;
}
/* line 67, ../scss/content/_home.scss */
.row2 .block2 {
  padding-left: 0;
  padding-right: 5px;
}
/* line 71, ../scss/content/_home.scss */
.row2 .block3 {
  padding-right: 0;
  padding-left: 5px;
}

/* line 76, ../scss/content/_home.scss */
.hot-prod {
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 35px;
}
/* line 81, ../scss/content/_home.scss */
.hot-prod.brand-block {
  text-align: center;
}
/* line 83, ../scss/content/_home.scss */
.hot-prod.brand-block img {
  max-width: 100%;
  height: auto;
}
/* line 88, ../scss/content/_home.scss */
.hot-prod h2 {
  text-transform: uppercase;
  color: black;
  font-size: 24px;
  margin-bottom: 0;
}
/* line 94, ../scss/content/_home.scss */
.hot-prod .desc {
  font-family: "Neuton-Regular", Verdana, Arial, sans-serif;
  text-align: center;
  margin-bottom: 30px;
}
/* line 99, ../scss/content/_home.scss */
.hot-prod a {
  font-size: 20px;
  font-family: "Neuton-Regular", Verdana, Arial, sans-serif;
  color: black;
  text-decoration: none;
  display: block;
  margin-bottom: 30px;
}

/* line 108, ../scss/content/_home.scss */
#lightSlider {
  text-align: center;
}
/* line 110, ../scss/content/_home.scss */
#lightSlider h2.product-name {
  text-transform: none;
}
/* line 112, ../scss/content/_home.scss */
#lightSlider h2.product-name a {
  font-size: 10px;
  font-family: "Century Gothic", "Helvetica Neue", Verdana, Arial, sans-serif;
  color: black;
  margin-bottom: 0;
}
/* line 119, ../scss/content/_home.scss */
#lightSlider .price-box {
  font-family: "Neuton-Regular", Verdana, Arial, sans-serif;
  font-size: 14px;
}
/* line 122, ../scss/content/_home.scss */
#lightSlider .price-box .price {
  color: black;
  font-size: 14px;
  font-family: "Neuton-Regular", Verdana, Arial, sans-serif;
}
/* line 128, ../scss/content/_home.scss */
#lightSlider .product-image {
  margin-bottom: 45px;
}
/* line 130, ../scss/content/_home.scss */
#lightSlider .product-image img {
  float: none;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
/* line 137, ../scss/content/_home.scss */
#lightSlider .amconf-block {
  display: none;
}
/* line 140, ../scss/content/_home.scss */
#lightSlider .product-brand {
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 3px;
}
/* line 145, ../scss/content/_home.scss */
#lightSlider li {
  margin-bottom: 30px;
  width: 144px;
}

/* line 150, ../scss/content/_home.scss */
.lSSlideOuter .lSPager.lSpg {
  display: none;
}

/* line 155, ../scss/content/_home.scss */
.row4 .item {
  position: relative;
  overflow: hidden;
  padding-left: 10px;
  color: white;
}
/* line 156, ../scss/content/_home.scss */
.row4 .item:first-child {
  background: #4d91d5;
  /*margin-bottom: 10px;*/
  padding: 0 30px;
  overflow: hidden;
}
@media only screen and (min-width: 767px) {
  /* line 167, ../scss/content/_home.scss */
  .row4 .item .absolute-block {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
    width: -moz-calc(100% - 200px);
    width: -webkit-calc(100% - 200px);
    width: calc(100% - 200px);
    overflow: hidden;
  }
}
/* line 173, ../scss/content/_home.scss */
.row4 .item .content {
  margin-bottom: 30px;
  font-size: 16px;
  overflow: hidden;
}
/* line 178, ../scss/content/_home.scss */
.row4 .item a {
  font-size: 30px;
  display: inline-block;
  color: white;
  font-family: "Neuton-Regular", Verdana, Arial, sans-serif;
}
/* line 184, ../scss/content/_home.scss */
.row4 .item h3 {
  color: white;
  font-size: 30px;
  text-transform: none;
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  /* line 191, ../scss/content/_home.scss */
  .row4 .item .absolute-block {
    width: -moz-calc(100% - 100px);
    width: -webkit-calc(100% - 100px);
    width: calc(100% - 100px);
  }
  /* line 194, ../scss/content/_home.scss */
  .row4 .item .content {
    font-size: 12px;
    margin-bottom: 10px;
  }
  /* line 198, ../scss/content/_home.scss */
  .row4 .item a, .row4 .item h3 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 203, ../scss/content/_home.scss */
  .row4 .item .content {
    font-size: 10px;
    margin-bottom: 10px;
  }
  /* line 207, ../scss/content/_home.scss */
  .row4 .item a, .row4 .item h3 {
    font-size: 16px;
  }
}
/* line 211, ../scss/content/_home.scss */
.row4 .item.right-item {
  padding-right: 0;
}

/* line 217, ../scss/content/_home.scss */
.row5 {
  margin-top: 10px;
}
/* line 219, ../scss/content/_home.scss */
.row5 .row {
  height: 100%;
}
/* line 221, ../scss/content/_home.scss */
.row5 .row .block2 {
  padding-left: 0;
  padding-right: 5px;
}
/* line 225, ../scss/content/_home.scss */
.row5 .row .block3 {
  padding-right: 0;
  padding-left: 5px;
}
/* line 230, ../scss/content/_home.scss */
.row5 .item {
  height: 100%;
  overflow: hidden;
  position: relative;
}
/* line 234, ../scss/content/_home.scss */
.row5 .item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 245, ../scss/content/_home.scss */
#slide3 .caption1 {
  right: 130px;
  left: initial;
  color: white;
}
/* line 249, ../scss/content/_home.scss */
#slide3 .caption1 .subcaption1 {
  font-size: 23px;
  text-transform: uppercase;
}
/* line 253, ../scss/content/_home.scss */
#slide3 .caption1 .subcaption2 {
  font-size: 45px;
  text-transform: uppercase;
}
/* line 257, ../scss/content/_home.scss */
#slide3 .caption1 .subcaption3 {
  font-size: 22px;
  line-height: 1.5;
}
/* line 261, ../scss/content/_home.scss */
#slide3 .caption1 .link-text {
  margin-top: 60px;
  font-size: 22px;
  color: white;
  border: 1px solid white;
  height: 60px;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
}

/* line 278, ../scss/content/_home.scss */
.lSSlideOuter .lSAction .lSNext:before, .lSSlideOuter .lSAction .lSNext:after {
  content: "\f105";
  font-family: 'FontAwesome';
  font-size: 80px;
  position: absolute;
}
/* line 284, ../scss/content/_home.scss */
.lSSlideOuter .lSAction .lSNext:after {
  color: white;
  right: -10px;
}
/* line 290, ../scss/content/_home.scss */
.lSSlideOuter .lSAction .lSPrev:before, .lSSlideOuter .lSAction .lSPrev:after {
  content: "\f104";
  font-family: 'FontAwesome';
  font-size: 80px;
  position: absolute;
}
/* line 296, ../scss/content/_home.scss */
.lSSlideOuter .lSAction .lSPrev:after {
  color: white;
  left: 18px;
}

/* -------------------------------------------- *
 * Promotion Banner Section
 */
/* line 309, ../scss/content/_home.scss */
.promos {
  margin: 0 0 10px 0;
  padding: 0;
  width: 100%;
}

/* line 315, ../scss/content/_home.scss */
.promos:after {
  content: '';
  display: table;
  clear: both;
}

/* Specifying the body only in order to override the .std ul li styling */
/* line 321, ../scss/content/_home.scss */
body .promos > li {
  margin: 0 0 10px 0;
  list-style: none;
  text-align: center;
  position: relative;
  border: 1px solid #cccccc;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* line 330, ../scss/content/_home.scss */
.promos > li:last-child {
  margin-bottom: 0;
}

/* line 334, ../scss/content/_home.scss */
.promos img {
  max-width: 100%;
  width: 100%;
}

/* line 339, ../scss/content/_home.scss */
.promos a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: block;
}

/* line 344, ../scss/content/_home.scss */
.promos span {
  color: #FFFFFF;
  text-transform: uppercase;
  position: absolute;
  display: block;
  width: 100%;
  top: 10%;
  font-weight: 500;
  font-size: 20px;
  font-family: "Century Gothic", "Helvetica Neue", Verdana, Arial, sans-serif;
  text-shadow: 1px 1px 3px #555555;
}

/* line 357, ../scss/content/_home.scss */
.promos strong {
  font-weight: 600;
  font-size: 26px;
  display: block;
}

@media only screen and (min-width: 769px) {
  /* line 365, ../scss/content/_home.scss */
  .promos span {
    font-size: 16px;
  }

  /* line 369, ../scss/content/_home.scss */
  .promos strong {
    font-size: 17px;
  }

  /* Config: Three columns + flexible gutter */
  /* line 376, ../scss/content/_home.scss */
  body .promos > li {
    float: left;
    width: 31.74603%;
    margin-right: 2.38095%;
  }

  /* line 382, ../scss/content/_home.scss */
  .promos > li:nth-child(3n) {
    margin-right: 0;
  }
}
/* -------------------------------------------- *
 * New Products Section
 */
/* Hiding the reviews content via CSS because we can't modify the template, */
/* since it may be used in other places where those elements are needed */
/* line 394, ../scss/content/_home.scss */
.cms-index-index .products-grid .ratings,
.cms-index-index .products-grid .actions,
.cms-index-noroute .products-grid .ratings,
.cms-index-noroute .products-grid .actions {
  display: none;
}

/* line 401, ../scss/content/_home.scss */
.cms-index-index h2.subtitle {
  padding: 6px 0;
  text-align: center;
  color: #498fd8;
  font-weight: 600;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
}

/* line 410, ../scss/content/_home.scss */
.cms-index-noroute h2.subtitle {
  display: none;
}

/* line 413, ../scss/content/_home.scss */
.payment1 {
  display: none;
}

/* line 416, ../scss/content/_home.scss */
.payment2 {
  display: block;
}

@media only screen and (max-width: 768px) {
  /* line 421, ../scss/content/_home.scss */
  body {
    font-size: 10px;
  }

  /* line 425, ../scss/content/_home.scss */
  h2 {
    font-size: 15px;
  }
  /* line 427, ../scss/content/_home.scss */
  .hot-prod h2 {
    font-size: 15px;
  }

  /* line 431, ../scss/content/_home.scss */
  .slideshow .banner-msg h2 {
    font-size: 20px;
  }

  /* line 434, ../scss/content/_home.scss */
  .slideshow .banner-msg h2 strong {
    font-size: 24px;
  }

  /* line 437, ../scss/content/_home.scss */
  .caption1 {
    left: 0 !important;
    right: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
    top: 50% !important;
    max-width: 70% !important;
  }

  /* line 447, ../scss/content/_home.scss */
  #slide3 .caption1 .subcaption1, #slide3 .caption1 .subcaption3 {
    font-size: 10px;
  }
  /* line 450, ../scss/content/_home.scss */
  #slide3 .caption1 .subcaption2 {
    font-size: 22px;
  }

  /* line 455, ../scss/content/_home.scss */
  .hot-prod a {
    font-size: 10px;
  }

  /* line 459, ../scss/content/_home.scss */
  .row4 .item:first-child {
    padding: 40px 30px;
  }

  /* line 462, ../scss/content/_home.scss */
  body.cms-home .main-container {
    margin-top: 0;
  }

  /* line 465, ../scss/content/_home.scss */
  .main, #le_slideshow {
    margin-top: 0;
  }

  /* line 468, ../scss/content/_home.scss */
  .lSSlideOuter .lSPager.lSpg {
    display: block;
    margin-bottom: 10px;
  }

  /* line 472, ../scss/content/_home.scss */
  .payment1 {
    display: block;
  }

  /* line 475, ../scss/content/_home.scss */
  .payment2 {
    display: none;
  }

  /* line 478, ../scss/content/_home.scss */
  .block-cart {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 80%;
    max-width: 320px;
    background: white;
    transform: translate3d(320px, 0, 0);
    -moz-transform: translate3d(320px, 0, 0);
    -webkit-transform: translate3d(320px, 0, 0);
    -o-transform: translate3d(320px, 0, 0);
    -ms-transform: translate3d(320px, 0, 0);
  }
  /* line 487, ../scss/content/_home.scss */
  .block-cart.skip-active {
    position: fixed;
    transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-animation: menuOpen .35s ease-out forwards;
    -moz-animation: menuOpen .35s ease-out forwards;
    -o-animation: menuOpen .35s ease-out forwards;
    animation: menuOpen .35s ease-out forwards;
    right: 0;
  }

  /* line 497, ../scss/content/_home.scss */
  .minicart-wrapper {
    left: 0;
    top: 0;
    -webkit-animation: cartOpen .35s ease-out forwards;
    -moz-animation: cartOpen .35s ease-out forwards;
    -o-animation: cartOpen .35s ease-out forwards;
    animation: cartOpen .35s ease-out forwards;
  }
  /* line 504, ../scss/content/_home.scss */
  .minicart-wrapper .block-subtitle {
    top: 40px;
  }
  /* line 507, ../scss/content/_home.scss */
  .minicart-wrapper header {
    text-transform: uppercase;
    border-bottom: 1px solid #eeeeee;
    display: block;
    width: 100%;
    padding: 30px 10px;
  }
  /* line 513, ../scss/content/_home.scss */
  .minicart-wrapper header h6 {
    font-size: 15px;
    color: black;
  }
  /* line 518, ../scss/content/_home.scss */
  .minicart-wrapper .empty {
    text-align: center;
    margin-top: 30px;
  }

  /* line 523, ../scss/content/_home.scss */
  .overflow {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
  }

  /* line 529, ../scss/content/_home.scss */
  .block-cart {
    -webkit-transition: all 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition: all 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -ms-transition: all 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: all 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  /* line 532, ../scss/content/_home.scss */
  #header-search {
    padding-left: 15px;
    padding-right: 15px;
    top: 56px;
    padding: 0 10px;
  }
  /* line 537, ../scss/content/_home.scss */
  #header-search.skip-active {
    height: 130px;
  }

  /* line 542, ../scss/content/_home.scss */
  #search_mini_form .input-box {
    margin-top: 20px;
  }
  /* line 545, ../scss/content/_home.scss */
  #search_mini_form #search {
    margin-top: 0;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid black;
  }
  /* line 551, ../scss/content/_home.scss */
  #search_mini_form label {
    font-size: 10px;
  }
  /* line 554, ../scss/content/_home.scss */
  #search_mini_form .search-button {
    font-size: 15px;
  }

  /* line 558, ../scss/content/_home.scss */
  .hot-prod {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 565, ../scss/content/_home.scss */
  .slideshow .banner-msg {
    top: 20%;
  }

  /* line 569, ../scss/content/_home.scss */
  .slideshow .banner-msg h2 {
    font-size: 14px;
  }

  /* line 573, ../scss/content/_home.scss */
  .slideshow .banner-msg h2 strong {
    font-size: 16px;
  }
}
@media only screen and (min-width: 880px) {
  /* line 579, ../scss/content/_home.scss */
  .promos span {
    font-size: 18px;
  }

  /* line 583, ../scss/content/_home.scss */
  .promos strong {
    font-size: 24px;
  }
}
/* ============================================ *
 * Category Landing Pages
 * ============================================ */
/* line 30, ../scss/content/_category.scss */
.category-image {
  position: relative;
}

/* line 34, ../scss/content/_category.scss */
.categorylandingMainblock {
  border: 1px solid #E2E2E2;
  padding: 7px;
}

/* line 38, ../scss/content/_category.scss */
.catblocks {
  float: left;
  padding: 0 0 20px 0;
  width: 100%;
}

/* line 44, ../scss/content/_category.scss */
.catblocks li {
  position: relative;
  float: left !important;
  width: 23% !important;
  margin-right: 2.66667% !important;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  padding: 10px;
}

/* line 54, ../scss/content/_category.scss */
.catblocks li:hover {
  border-color: #498fd8;
}

@media only screen and (max-width: 768px) {
  /* line 59, ../scss/content/_category.scss */
  .catblocks li {
    width: 49% !important;
    margin-right: 2% !important;
  }

  /* line 64, ../scss/content/_category.scss */
  .catblocks li:nth-child(even) {
    margin-right: 0 !important;
  }
}
@media only screen and (max-width: 479px) {
  /* line 70, ../scss/content/_category.scss */
  .catblocks li {
    width: 100% !important;
    margin-right: 0 !important;
    float: none;
  }
}
/* line 77, ../scss/content/_category.scss */
.catblocks li:last-child {
  margin-right: 0 !important;
}

/* line 81, ../scss/content/_category.scss */
.catblocks li img {
  width: 100%;
  max-width: 100%;
}

/* line 86, ../scss/content/_category.scss */
.catblocks li a span {
  color: #FFFFFF;
  position: absolute;
  background-color: #7B7C7B;
  font-family: raleway;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 5px 10px;
  margin-right: 10px;
}

/* line 102, ../scss/content/_category.scss */
.catblocklinks a {
  color: #FFFFFF;
  text-decoration: none;
}

/* line 107, ../scss/content/_category.scss */
.catlandingbottomPromoblock {
  float: left;
  width: 100%;
  border: 1px solid #E2E2E2;
  margin-bottom: 100px;
}

/* line 114, ../scss/content/_category.scss */
.catalog-category-view div.categoryland-caption {
  display: block;
  margin: 0;
  position: absolute;
  color: #000000;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
}

/* line 125, ../scss/content/_category.scss */
.catalog-category-view div.categoryland-caption span.blue-big-text {
  color: #3399CC;
  font-size: 50px;
  font-weight: 800;
  padding: 0 0 0 8px;
}

/* line 132, ../scss/content/_category.scss */
.catalog-category-view div.categoryland-caption span.blue-big-text {
  padding: 0 !important;
}

/* line 136, ../scss/content/_category.scss */
.catalog-category-view div.categoryland-caption span.three-dots {
  background: url(../images/bg_threeDots.png) no-repeat center center;
  display: block;
  height: 20px;
}

/* line 142, ../scss/content/_category.scss */
.catalog-category-view div.categoryland-caption p.desc {
  font: italic 18px/28px Georgia, "Times New Roman", Times, serif;
  color: #656565;
}

/* line 147, ../scss/content/_category.scss */
.cms-home #homepage-main-slides div.slides_control div div.slideshow-caption a.link:hover,
.cms-home #homepage-main-slides div.slides_control div div.slideshow-caption span.link:hover {
  text-decoration: underline;
  color: #1189C5;
}

/* line 153, ../scss/content/_category.scss */
.cms-home #homepage-main-slides div.slides_control div div.slideshow-caption span.blue-big-text,
.catalog-category-view div.categoryland-caption span.blue-big-text {
  color: #3399CC;
  font-size: 50px;
  font-weight: 800;
  padding: 0 0 0 8px;
}

/* line 161, ../scss/content/_category.scss */
.catalog-category-view div.categoryland-caption span.blue-big-text {
  padding: 0 !important;
}

/* line 165, ../scss/content/_category.scss */
.cms-home #homepage-main-slides div.slides_control div div.slideshow-caption span.three-dots,
.catalog-category-view div.categoryland-caption span.three-dots {
  background: url(../images/bg_threeDots.png) no-repeat center center;
  display: block;
  height: 20px;
}

/* line 172, ../scss/content/_category.scss */
.cms-home #homepage-main-slides div.slides_control div div.slideshow-caption p.desc,
.catalog-category-view div.categoryland-caption p.desc {
  font: italic 18px/28px Georgia, "Times New Roman", Times, serif;
  color: #656565;
}
