@charset "UTF-8";
/*
// ----------------------------------------------
// Usage example:
// For IE set $mq-support to false.
// Set the fixed value.
// Then use mixins to test whether styles should be applied.
// ----------------------------------------------

$mq-support: false;
$mq-fixed-value: 1024;

// Renders at fixed value
@include bp (min-width, 300px) { 
    div { color:#000; }
}

// Doesn't render without MQ support
@include bp (min-width, 1200px) { 
    div { color:#FFF; }
}

// Doesn't render without MQ support
@include bp (max-width, 300px) { 
    div { color:#444; }
}

// Renders at fixed value
@include bp (max-width, 1200px) { 
    div { color:#888; }
}

// ----------------------------------------------
*/
@-webkit-keyframes menuOpen {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
@-webkit-keyframes cartOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes searchOpen {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
/* ============================================ *
 * Homepage
 * ============================================ */
/* -------------------------------------------- *
 * Primary Banner
 */
@font-face {
  font-family: 'Neuton-Regular';
  src: url("../fonts/Neuton-Regular.eot");
  src: local("☺"), url("../fonts/Neuton-Regular.woff") format("woff"), url("../fonts/Neuton-Regular.ttf") format("truetype"), url("../fonts/Neuton-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latin_modern_roman10_regular';
  src: url("../fonts/lmroman10-regular-webfont.eot");
  src: url("../fonts/lmroman10-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lmroman10-regular-webfont.woff2") format("woff2"), url("../fonts/lmroman10-regular-webfont.woff") format("woff"), url("../fonts/lmroman10-regular-webfont.ttf") format("truetype"), url("../fonts/lmroman10-regular-webfont.svg#latin_modern_roman10_regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'futura-medium';
  src: url(../fonts/futurastd-condensed-webfont.eot);
  src: url(../fonts/futurastd-condensed-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/futurastd-condensed-webfont.woff) format("woff"), url(../fonts/futurastd-condensed-webfont.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot");
  src: local("☺"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CatFont";
  src: url("../fonts/flaticon.eot");
  src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"), url("../fonts/flaticon.woff") format("woff"), url("../fonts/flaticon.ttf") format("truetype"), url("../fonts/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 80, ../scss/content/_home.scss */
body.cms-home .main-container {
  margin-top: 50px;
}
/* line 84, ../scss/content/_home.scss */
body.cms-home .slideshow-container {
  margin-top: 0;
}

/* line 88, ../scss/content/_home.scss */
.row2 {
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}
/* line 92, ../scss/content/_home.scss */
.row2 .row {
  height: 100%;
}
/* line 94, ../scss/content/_home.scss */
.row2 .row .item {
  height: 100%;
}
/* line 98, ../scss/content/_home.scss */
.row2 .block2 {
  padding-left: 0;
  padding-right: 5px;
}
/* line 102, ../scss/content/_home.scss */
.row2 .block3 {
  padding-right: 0;
  padding-left: 5px;
}

/* line 107, ../scss/content/_home.scss */
.hot-prod {
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 35px;
  overflow: hidden;
  width: 100%;
}
/* line 114, ../scss/content/_home.scss */
.hot-prod.brand-block {
  text-align: center;
}
/* line 116, ../scss/content/_home.scss */
.hot-prod.brand-block img {
  max-width: 100%;
  height: auto;
}
/* line 121, ../scss/content/_home.scss */
.hot-prod h2 {
  text-transform: uppercase;
  color: #000;
  font-size: 24px;
  margin-bottom: 0;
}
/* line 127, ../scss/content/_home.scss */
.hot-prod .desc {
  font-family: "Neuton-Regular", Verdana, Arial, sans-serif;
  text-align: center;
  margin-bottom: 20px;
  display: block;
}
/* line 133, ../scss/content/_home.scss */
.hot-prod a {
  font-size: 20px;
  font-family: "Neuton-Regular", Verdana, Arial, sans-serif;
  color: #000;
  text-decoration: none;
  display: block;
  margin-bottom: 30px;
}
/* line 140, ../scss/content/_home.scss */
.hot-prod a.shop-more {
  font-style: italic;
}

/* line 145, ../scss/content/_home.scss */
#lightSlider {
  text-align: center;
  margin-bottom: 40px;
}
/* line 148, ../scss/content/_home.scss */
#lightSlider h2.product-name {
  text-transform: none;
}
/* line 150, ../scss/content/_home.scss */
#lightSlider h2.product-name a {
  font-size: 11px;
  font-family: "Century Gothic", "Helvetica Neue", Verdana, Arial, sans-serif;
  color: #000;
  margin-bottom: 0;
}
/* line 157, ../scss/content/_home.scss */
#lightSlider .price-box {
  font-family: "Neuton-Regular", Verdana, Arial, sans-serif;
  font-size: 12px;
}
/* line 161, ../scss/content/_home.scss */
#lightSlider .product-image {
  margin-bottom: 45px;
}
/* line 163, ../scss/content/_home.scss */
#lightSlider .product-image img {
  float: none;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
/* line 170, ../scss/content/_home.scss */
#lightSlider .amconf-block {
  display: none;
}
/* line 173, ../scss/content/_home.scss */
#lightSlider .product-brand {
  font-size: 12px;
  line-height: 1.2;
  margin-bottom: 3px;
}
/* line 178, ../scss/content/_home.scss */
#lightSlider li {
  margin-left: 10px;
  margin-right: 10px;
}

/* line 183, ../scss/content/_home.scss */
.lSSlideOuter .lSPager.lSpg {
  display: none;
}

/* line 188, ../scss/content/_home.scss */
.row4 .item {
  position: relative;
  overflow: hidden;
  padding-left: 10px;
  color: #fff;
}
/* line 189, ../scss/content/_home.scss */
.row4 .item:first-child {
  background: #4d91d5;
  /*margin-bottom: 10px;*/
  padding: 0 30px;
  overflow: hidden;
}
@media only screen and (min-width: 767px) {
  /* line 200, ../scss/content/_home.scss */
  .row4 .item .absolute-block {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
    width: -moz-calc(100% - 200px);
    width: -webkit-calc(100% - 200px);
    width: calc(100% - 200px);
    overflow: hidden;
  }
}
/* line 206, ../scss/content/_home.scss */
.row4 .item .content {
  margin-bottom: 30px;
  overflow: hidden;
}
/* line 210, ../scss/content/_home.scss */
.row4 .item a {
  font-size: 20px;
  display: inline-block;
  color: #fff;
  font-family: "Neuton-Regular", Verdana, Arial, sans-serif;
  font-style: italic;
}
/* line 217, ../scss/content/_home.scss */
.row4 .item h3 {
  color: #fff;
  font-size: 24px;
  text-transform: none;
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  /* line 224, ../scss/content/_home.scss */
  .row4 .item .absolute-block {
    width: -moz-calc(100% - 100px);
    width: -webkit-calc(100% - 100px);
    width: calc(100% - 100px);
  }
  /* line 227, ../scss/content/_home.scss */
  .row4 .item .content {
    font-size: 12px;
    margin-bottom: 10px;
  }
  /* line 231, ../scss/content/_home.scss */
  .row4 .item a, .row4 .item h3 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 237, ../scss/content/_home.scss */
  .row4 .item .content {
    font-size: 10px;
    margin-bottom: 10px;
  }
  /* line 241, ../scss/content/_home.scss */
  .row4 .item a, .row4 .item h3 {
    font-size: 16px;
  }
}
/* line 245, ../scss/content/_home.scss */
.row4 .item.right-item {
  padding-right: 0;
}

/* line 251, ../scss/content/_home.scss */
.row5 {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 254, ../scss/content/_home.scss */
.row5 .row {
  height: 100%;
}
/* line 256, ../scss/content/_home.scss */
.row5 .row .block2 {
  padding-left: 0;
  padding-right: 5px;
}
/* line 260, ../scss/content/_home.scss */
.row5 .row .block3 {
  padding-right: 0;
  padding-left: 5px;
}
/* line 265, ../scss/content/_home.scss */
.row5 .item {
  height: 100%;
  overflow: hidden;
  position: relative;
}
/* line 269, ../scss/content/_home.scss */
.row5 .item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 280, ../scss/content/_home.scss */
.caption1 {
  right: 130px;
  left: initial;
  color: #fff;
}
/* line 284, ../scss/content/_home.scss */
#slide1 .caption1 {
  left: 100px;
}
/* line 287, ../scss/content/_home.scss */
.caption1 .subcaption1 {
  font-size: 18px;
  text-transform: uppercase;
}
/* line 291, ../scss/content/_home.scss */
.caption1 .subcaption2 {
  font-size: 45px;
  text-transform: uppercase;
}
/* line 295, ../scss/content/_home.scss */
.caption1 .subcaption3 {
  font-size: 18px;
  line-height: 1.5;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
/* line 302, ../scss/content/_home.scss */
.caption1 .link-text {
  margin-top: 60px;
  font-size: 22px;
  color: #fff;
  border: 1px solid #fff;
  height: 60px;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
}

/* line 315, ../scss/content/_home.scss */
body.cms-home .slideshow-container {
  overflow: hidden;
}

/* -------------------------------------------- *
 * Promotion Banner Section
 */
/* line 323, ../scss/content/_home.scss */
.promos {
  margin: 0 0 10px 0;
  padding: 0;
  width: 100%;
}

/* line 329, ../scss/content/_home.scss */
.promos:after {
  content: '';
  display: table;
  clear: both;
}

/* Specifying the body only in order to override the .std ul li styling */
/* line 335, ../scss/content/_home.scss */
body .promos > li {
  margin: 0 0 10px 0;
  list-style: none;
  text-align: center;
  position: relative;
  border: 1px solid #CCCCCC;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* line 344, ../scss/content/_home.scss */
.promos > li:last-child {
  margin-bottom: 0;
}

/* line 348, ../scss/content/_home.scss */
.promos img {
  max-width: 100%;
  width: 100%;
}

/* line 353, ../scss/content/_home.scss */
.promos a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: block;
}

/* line 358, ../scss/content/_home.scss */
.promos span {
  color: #FFFFFF;
  text-transform: uppercase;
  position: absolute;
  display: block;
  width: 100%;
  top: 10%;
  font-weight: 500;
  font-size: 20px;
  font-family: "Century Gothic", "Helvetica Neue", Verdana, Arial, sans-serif;
  text-shadow: 1px 1px 3px #555555;
}

/* line 371, ../scss/content/_home.scss */
.promos strong {
  font-weight: 600;
  font-size: 26px;
  display: block;
}

@media only screen and (min-width: 769px) {
  /* line 379, ../scss/content/_home.scss */
  .promos span {
    font-size: 16px;
  }

  /* line 383, ../scss/content/_home.scss */
  .promos strong {
    font-size: 17px;
  }

  /* Config: Three columns + flexible gutter */
  /* line 390, ../scss/content/_home.scss */
  body .promos > li {
    float: left;
    width: 31.74603%;
    margin-right: 2.38095%;
  }

  /* line 396, ../scss/content/_home.scss */
  .promos > li:nth-child(3n) {
    margin-right: 0;
  }
}
/* -------------------------------------------- *
 * New Products Section
 */
/* Hiding the reviews content via CSS because we can't modify the template, */
/* since it may be used in other places where those elements are needed */
/* line 408, ../scss/content/_home.scss */
.cms-index-index .products-grid .ratings,
.cms-index-index .products-grid .actions,
.cms-index-noroute .products-grid .ratings,
.cms-index-noroute .products-grid .actions {
  display: none;
}

/* line 415, ../scss/content/_home.scss */
.cms-index-index h2.subtitle {
  padding: 6px 0;
  text-align: center;
  color: #498fd8;
  font-weight: 600;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #CCCCCC;
}

/* line 424, ../scss/content/_home.scss */
.cms-index-noroute h2.subtitle {
  display: none;
}

/* line 427, ../scss/content/_home.scss */
.payment1 {
  display: none;
}

/* line 430, ../scss/content/_home.scss */
.payment2 {
  display: block;
}

/* line 434, ../scss/content/_home.scss */
.product-shop .product-brand {
  font-size: 32px;
}

/* line 439, ../scss/content/_home.scss */
.prod-top {
  padding-left: 100px;
  padding-right: 100px;
  color: #000;
}

/* line 444, ../scss/content/_home.scss */
.widget {
  clear: both;
}
/* line 446, ../scss/content/_home.scss */
.widget:after {
  clear: both;
  content: '';
  display: block;
}
/* line 451, ../scss/content/_home.scss */
.widget .pager {
  float: none;
  width: 100%;
}

/* line 456, ../scss/content/_home.scss */
.square-container {
  margin-left: 10px;
  margin-right: 10px;
}

@media only screen and (max-width: 768px) {
  /* line 462, ../scss/content/_home.scss */
  body,
  h2.product-name,
  h3.product-name,
  h4.product-name,
  h5.product-name,
  p.product-name,
  #lightSlider .price-box .price,
  .catalog-product-view .breadcrumbs {
    font-size: 10px;
  }

  /* line 473, ../scss/content/_home.scss */
  h2 {
    font-size: 15px;
  }
  /* line 475, ../scss/content/_home.scss */
  .hot-prod h2 {
    font-size: 15px;
  }

  /* line 479, ../scss/content/_home.scss */
  .slideshow .banner-msg h2 {
    font-size: 20px;
  }

  /* line 482, ../scss/content/_home.scss */
  .slideshow .banner-msg h2 strong {
    font-size: 24px;
  }

  /* line 485, ../scss/content/_home.scss */
  .caption1 {
    left: 0 !important;
    right: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
    top: 50% !important;
    max-width: 70% !important;
  }

  /* line 493, ../scss/content/_home.scss */
  .catalog-product-view .breadcrumbs {
    padding: 10px;
  }

  /* line 498, ../scss/content/_home.scss */
  #slide3 .caption1 .subcaption1, #slide3 .caption1 .subcaption3 {
    font-size: 10px;
  }
  /* line 501, ../scss/content/_home.scss */
  #slide3 .caption1 .subcaption2 {
    font-size: 22px;
  }

  /* line 506, ../scss/content/_home.scss */
  .hot-prod a {
    font-size: 10px;
  }

  /* line 510, ../scss/content/_home.scss */
  .row4 .item:first-child {
    padding: 40px 30px;
  }

  /* line 513, ../scss/content/_home.scss */
  body.cms-home .main-container {
    margin-top: 0;
  }

  /* line 516, ../scss/content/_home.scss */
  .main, #le_slideshow {
    margin-top: 0;
  }

  /* line 519, ../scss/content/_home.scss */
  .lSSlideOuter .lSPager.lSpg {
    display: block;
    margin-bottom: 10px;
  }

  /* line 523, ../scss/content/_home.scss */
  .payment1 {
    display: block;
  }

  /* line 526, ../scss/content/_home.scss */
  .payment2 {
    display: none;
  }

  /* line 529, ../scss/content/_home.scss */
  .block-cart {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 80%;
    max-width: 320px;
    background: #fff;
    transform: translate3d(320px, 0, 0);
    -moz-transform: translate3d(320px, 0, 0);
    -webkit-transform: translate3d(320px, 0, 0);
    -o-transform: translate3d(320px, 0, 0);
    -ms-transform: translate3d(320px, 0, 0);
  }
  /* line 538, ../scss/content/_home.scss */
  .block-cart.skip-active {
    position: fixed;
    transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-animation: menuOpen .35s ease-out forwards;
    -moz-animation: menuOpen .35s ease-out forwards;
    -o-animation: menuOpen .35s ease-out forwards;
    animation: menuOpen .35s ease-out forwards;
    right: 0;
  }

  /* line 548, ../scss/content/_home.scss */
  .minicart-wrapper {
    left: 0;
    top: 0;
    -webkit-animation: cartOpen .35s ease-out forwards;
    -moz-animation: cartOpen .35s ease-out forwards;
    -o-animation: cartOpen .35s ease-out forwards;
    animation: cartOpen .35s ease-out forwards;
  }
  /* line 555, ../scss/content/_home.scss */
  .minicart-wrapper .block-subtitle {
    top: 10px;
    right: 10px;
  }
  /* line 559, ../scss/content/_home.scss */
  .minicart-wrapper header {
    text-transform: uppercase;
    border-bottom: 1px solid #eee;
    display: block;
    width: 100%;
    padding: 30px 10px;
  }
  /* line 565, ../scss/content/_home.scss */
  .minicart-wrapper header h6 {
    font-size: 15px;
    color: #000;
  }
  /* line 570, ../scss/content/_home.scss */
  .minicart-wrapper .empty {
    text-align: center;
    margin-top: 30px;
  }

  /* line 575, ../scss/content/_home.scss */
  .overflow {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
  }

  /* line 581, ../scss/content/_home.scss */
  .block-cart {
    -webkit-transition: all 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition: all 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -ms-transition: all 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: all 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  /* line 584, ../scss/content/_home.scss */
  #header-search {
    padding-left: 15px;
    padding-right: 15px;
    top: 54px;
    padding: 0 10px;
  }
  /* line 589, ../scss/content/_home.scss */
  #header-search.skip-active {
    height: 130px;
  }

  /* line 594, ../scss/content/_home.scss */
  #search_mini_form .input-box {
    margin-top: 20px;
  }
  /* line 597, ../scss/content/_home.scss */
  #search_mini_form #search {
    margin-top: 0;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #000;
  }
  /* line 603, ../scss/content/_home.scss */
  #search_mini_form label {
    font-size: 10px;
  }
  /* line 606, ../scss/content/_home.scss */
  #search_mini_form .search-button {
    font-size: 15px;
  }

  /* line 610, ../scss/content/_home.scss */
  .hot-prod,
  .prod-top {
    padding-left: 30px;
    padding-right: 30px;
  }

  /* line 615, ../scss/content/_home.scss */
  .block-layered-nav .block-content.accordion-open > dl > dd.current {
    position: relative;
  }

  /* line 618, ../scss/content/_home.scss */
  .catalog-product-view .main-container {
    margin-top: 0;
  }

  /* line 622, ../scss/content/_home.scss */
  .product-view .add-to-cart .qty-wrapper .qty {
    width: 50px;
    height: 50px;
    font-size: 16px;
  }

  /* line 627, ../scss/content/_home.scss */
  .product-view .add-to-cart-buttons {
    width: -moz-calc(100% - 70px);
    width: -webkit-calc(100% - 70px);
    width: calc(100% - 70px);
  }

  /* line 630, ../scss/content/_home.scss */
  .product-view .add-to-cart-buttons .button {
    height: 50px;
    font-size: 16px;
  }

  /* line 634, ../scss/content/_home.scss */
  .product-view .product-shop .product-spec-attributes {
    font-size: 12px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 640, ../scss/content/_home.scss */
  .slideshow .banner-msg {
    top: 20%;
  }

  /* line 644, ../scss/content/_home.scss */
  .slideshow .banner-msg h2 {
    font-size: 14px;
  }

  /* line 648, ../scss/content/_home.scss */
  .slideshow .banner-msg h2 strong {
    font-size: 16px;
  }
}
@media only screen and (min-width: 880px) {
  /* line 654, ../scss/content/_home.scss */
  .promos span {
    font-size: 18px;
  }

  /* line 658, ../scss/content/_home.scss */
  .promos strong {
    font-size: 24px;
  }
}
/* ============================================ *
 * Category Landing Pages
 * ============================================ */
/* line 30, ../scss/content/_category.scss */
.category-image {
  position: relative;
}
/* line 32, ../scss/content/_category.scss */
.category-image h2 {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  margin-left: auto;
  margin-right: auto;
  font-size: 35px;
  color: #fff;
  text-align: center;
  font-family: 'latin_modern_roman10_regular';
}

/* line 41, ../scss/content/_category.scss */
.categorylandingMainblock {
  border: 1px solid #E2E2E2;
  padding: 7px;
}

/* line 45, ../scss/content/_category.scss */
.catblocks {
  float: left;
  padding: 0 0 20px 0;
  width: 100%;
}

/* line 51, ../scss/content/_category.scss */
.catblocks li {
  position: relative;
  float: left !important;
  width: 23% !important;
  margin-right: 2.66667% !important;
  margin-bottom: 10px;
  border: 1px solid #CCCCCC;
  padding: 10px;
}

/* line 61, ../scss/content/_category.scss */
.catblocks li:hover {
  border-color: #498fd8;
}

@media only screen and (max-width: 768px) {
  /* line 66, ../scss/content/_category.scss */
  .catblocks li {
    width: 49% !important;
    margin-right: 2% !important;
  }

  /* line 71, ../scss/content/_category.scss */
  .catblocks li:nth-child(even) {
    margin-right: 0 !important;
  }
}
@media only screen and (max-width: 479px) {
  /* line 77, ../scss/content/_category.scss */
  .catblocks li {
    width: 100% !important;
    margin-right: 0 !important;
    float: none;
  }
}
/* line 84, ../scss/content/_category.scss */
.catblocks li:last-child {
  margin-right: 0 !important;
}

/* line 88, ../scss/content/_category.scss */
.catblocks li img {
  width: 100%;
  max-width: 100%;
}

/* line 93, ../scss/content/_category.scss */
.catblocks li a span {
  color: #FFFFFF;
  position: absolute;
  background-color: #7B7C7B;
  font-family: raleway;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 5px 10px;
  margin-right: 10px;
}

/* line 109, ../scss/content/_category.scss */
.catblocklinks a {
  color: #FFFFFF;
  text-decoration: none;
}

/* line 114, ../scss/content/_category.scss */
.catlandingbottomPromoblock {
  float: left;
  width: 100%;
  border: 1px solid #E2E2E2;
  margin-bottom: 100px;
}

/* line 121, ../scss/content/_category.scss */
.catalog-category-view div.categoryland-caption {
  display: block;
  margin: 0;
  position: absolute;
  color: #000000;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
}

/* line 132, ../scss/content/_category.scss */
.catalog-category-view div.categoryland-caption span.blue-big-text {
  color: #3399CC;
  font-size: 50px;
  font-weight: 800;
  padding: 0 0 0 8px;
}

/* line 139, ../scss/content/_category.scss */
.catalog-category-view div.categoryland-caption span.blue-big-text {
  padding: 0 !important;
}

/* line 143, ../scss/content/_category.scss */
.catalog-category-view div.categoryland-caption span.three-dots {
  background: url(../images/bg_threeDots.png) no-repeat center center;
  display: block;
  height: 20px;
}

/* line 149, ../scss/content/_category.scss */
.catalog-category-view div.categoryland-caption p.desc {
  font: italic 18px/28px Georgia, "Times New Roman", Times, serif;
  color: #656565;
}

/* line 154, ../scss/content/_category.scss */
.cms-home #homepage-main-slides div.slides_control div div.slideshow-caption a.link:hover,
.cms-home #homepage-main-slides div.slides_control div div.slideshow-caption span.link:hover {
  text-decoration: underline;
  color: #1189C5;
}

/* line 160, ../scss/content/_category.scss */
.cms-home #homepage-main-slides div.slides_control div div.slideshow-caption span.blue-big-text,
.catalog-category-view div.categoryland-caption span.blue-big-text {
  color: #3399CC;
  font-size: 50px;
  font-weight: 800;
  padding: 0 0 0 8px;
}

/* line 168, ../scss/content/_category.scss */
.catalog-category-view div.categoryland-caption span.blue-big-text {
  padding: 0 !important;
}

/* line 172, ../scss/content/_category.scss */
.cms-home #homepage-main-slides div.slides_control div div.slideshow-caption span.three-dots,
.catalog-category-view div.categoryland-caption span.three-dots {
  background: url(../images/bg_threeDots.png) no-repeat center center;
  display: block;
  height: 20px;
}

/* line 179, ../scss/content/_category.scss */
.cms-home #homepage-main-slides div.slides_control div div.slideshow-caption p.desc,
.catalog-category-view div.categoryland-caption p.desc {
  font: italic 18px/28px Georgia, "Times New Roman", Times, serif;
  color: #656565;
}

/*# sourceMappingURL=madisonisland.css.map */
