<?xml version="1.0"?>
<config>
	<modules>
		<BS_Canonicalize>
			<version>0.1.1</version>
		</BS_Canonicalize>
	</modules>
	<frontend>
		<routers>
			<canonicalize>
				<use>standard</use>
				<args>
					<module>BS_Canonicalize</module>
					<frontName>canonicalize</frontName>
				</args>
			</canonicalize>
		</routers>
		<layout>
			<updates>
				<canonicalize>
					<file>canonicalize.xml</file>
				</canonicalize>
			</updates>
		</layout>
	</frontend>
	<global>
		<helpers>
			<canonicalize>
				<class>BS_Canonicalize_Helper</class>
			</canonicalize>
		</helpers>
		<blocks>
			<canonicalize>
				<class>BS_Canonicalize_Block</class>
			</canonicalize>
		</blocks>
		<models>
			<canonicalize>
				<class>BS_Canonicalize_Model</class>
				<resourceModel>canonicalize_mysql4</resourceModel>
			</canonicalize>
		</models>
		<resources>
			<canonicalize_setup>
				<setup>
					<module>BS_Canonicalize</module>
					<class>BS_Canonicalize_Model_Resource_Eav_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</canonicalize_setup>
			<canonicalize_write>
				<connection>
					<use>core_write</use>
				</connection>
			</canonicalize_write>
			<canonicalize_read>
				<connection>
					<use>core_read</use>
				</connection>
			</canonicalize_read>
			
		</resources>
	</global>
	<admin>
		<routers>
			<canonicalize>
				<use>admin</use>
				<args>
					<module>BS_Canonicalize</module>
					<frontName>canonicalize</frontName>
				</args>
			</canonicalize>
		</routers>
	</admin>
	<adminhtml>

		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<canonicalize translate="title" module="canonicalize">
							<title>Canonicalize</title>
							<sort_order>1000</sort_order>
							<children>
								<canonicalizebackend translate="title">
									<title>Backend Page Title</title>
								</canonicalizebackend>
							</children>
						</canonicalize>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<canonicalize>
					<file>canonicalize.xml</file>
				</canonicalize>
			</updates>
		</layout>
	</adminhtml>
	<default>
        <canonicalize>
            <general>
                <active>1</active>
                <primary_cat_id></primary_cat_id>
                <exclude_cat_id></exclude_cat_id>
            </general>
        </canonicalize>
    </default>
</config> 