.amquickview-hover
{
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 99999;
    top: 25%;
    background-color: #498fd8;
    opacity: 0.7;
    max-height: 40px;
    padding: 8px 0;
    min-height: 17px;

}

.amquickview-hover a, .amquickview-hover a:hover
{
    color: white;
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    display: block;
}

.amquickview-hover img.am-quickview-icon
{
    max-width: 100%;
    vertical-align: middle;
    display: inline !important;
}

.amquickview-hover:hover
{
    background-color: #8898a9;
}