<?xml version="1.0"?>
<config>
    <modules>
        <BS_Carpet>
            <version>1.0.0</version>
        </BS_Carpet>
    </modules>
    <frontend>
        <routers>
            <carpet>
                <use>standard</use>
                <args>
                    <module>BS_Carpet</module>
                    <frontName>carpet</frontName>
                </args>
            </carpet>
        </routers>
        <layout>
            <updates>
                <carpet>
                    <file>carpet.xml</file>
                </carpet>
            </updates>
        </layout>
        <translate>
            <modules>
                <BS_Carpet>
                    <files>
                        <default>BS_Carpet.csv</default>
                    </files>
                </BS_Carpet>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
			<carpet>
				<use>admin</use>
				<args>
					<module>BS_Carpet</module>
					<frontName>carpet</frontName>
				</args>
			</carpet>
        </routers>
    </admin>
    <adminhtml>		
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<BS_Carpet>
							<title>Carpet Module</title>
							<sort_order>10</sort_order>
						</BS_Carpet>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<carpet>
					<file>carpet.xml</file>
				</carpet>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <carpet>
                <class>BS_Carpet_Model</class>  
                <resourceModel>carpet_mysql4</resourceModel>             
            </carpet>  
            <carpet_mysql4>
                <class>BS_Carpet_Model_Mysql4</class>
            </carpet_mysql4>   
            <catalog>
                <rewrite>
                        <product_type_price>BS_Carpet_Model_Product_Type_Price</product_type_price>
                </rewrite>
            </catalog>       
        </models>
        
        
        <resources>
            <carpet_setup>
                <setup>
                    <module>BS_Carpet</module>
                    <class>BS_Carpet_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </carpet_setup>
            <carpet_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </carpet_write>
            <carpet_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </carpet_read>
        </resources>
        
        
        <blocks>
            <carpet>
                <class>BS_Carpet_Block</class>
            </carpet>
            <catalog>
                <rewrite>
        			<product_view>BS_Carpet_Block_Catalog_Product_View</product_view>
        		</rewrite> 
            </catalog>
            <catalog>
                <rewrite>
                        <product_view_options_type_select>BS_Carpet_Block_Catalog_Product_View_Options_Type_Select</product_view_options_type_select>
                </rewrite>
            </catalog>            
        </blocks>
        <helpers>
            <carpet>
                <class>BS_Carpet_Helper</class>
            </carpet>
        </helpers>
    </global>
        <default>
		<bs_carpet>
	   		<general><active>1</active></general>
	   		<general><width>Width</width></general>	
	   		<general><length>Length</length></general>		  				
		</bs_carpet>
    </default>
</config>