.amscheckout-main{
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    
}

.amscheckout table{
    width: 100%;
}
.amscheckout table table{
    width: 95%;
    float: left;
}

.amscheckout table td{
    vertical-align: top;
}

.amscheckout-row{
    display: inline-table;
    padding-top: 10px;
    width: 100%;
    vertical-align: top;
}

.amscheckout .three-columns .first-column,
.amscheckout .three-columns .second-column,
.amscheckout .three-columns .third-column{
    width: 33.33333%;
}

.amscheckout .two-columns .first-column,
.amscheckout .two-columns .second-column{
    width: 50%;
}

.amscheckout .one-columns .first-column{
    width: 100%;
}

.amscheckout-row>div{
    padding: 0px 3px;
}

.amscheckout .billing,
.amscheckout .shipping,
.amscheckout .shipping-method,
.amscheckout .payment-method,
.amscheckout .coupon
{
    padding: 0;
}
.amscheckout .billing {
    margin-left: -5px;
    margin-right: -5px;
}
.amscheckout .form-list label,
.amscheckout .amscheckout-label{
    /*font-size: 11px;*/



    /*color: #000;*/
    font-weight: normal;
}

.amscheckout .amscheckout-label-radio{
    font-size: 12px;
}

.amscheckout .amscheckout-label em{
    padding-left: 3px;
}

.amscheckout-login input.input-text,
.amscheckout input.input-text,
.amscheckout select{
    font-size: 12px;
}

.amscheckout-login input.input-text,
.amscheckout input.input-text{
    padding: 0;
    width: 100%;
    height: 25px;
    text-indent: 3px;
}

.amscheckout select{
    padding: 0;
    width: 100%;
    height: 27px;
    border-radius: 4px;    
}

.amscheckout-control-checkbox,
.amscheckout-control-radio{
    display: inline;
    float: left;
}

.amscheckout-control-checkbox{
    padding-right: 3px;
}

.amscheckout .input-address{
    margin-top: 3px;
}

.amscheckout .area-header{
    font-size: 18px;
    text-transform: uppercase;
}

.amscheckout{
    padding: 0px;
}

.amscheckout .shipping-method dt{
    font-weight: bold;
}

.amscheckout .shipping-method dd,
.amscheckout .shipping-method dt,
.amscheckout .payment-method dt{
    padding-top: 7px;
}

.amscheckout .btn-checkout{
    width: 100%;
}


.amscheckout-header{
    padding: 20px 15px;
}

.amscheckout-header .lane{
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.amscheckout-header .lane2{
    font-size: 12px;
}

.separator{
    padding: 0px 15px;
    margin-left: -1px;
}

.separator div{
    border: 0px;
    border-top: 1px solid grey;
    padding-top: 1px;
    border-style: dashed;
}

.amscheckout-img{
    line-height: 1.5;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    width: 35px;
    height: 35px;
    padding: 2px 0px;
}

.amscheckout-img-shadow{
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding-bottom: 3px;
}

.amscheckout-review{
    background-image: url('../../../images/amasty/amscheckout/review-img.png');
    background-repeat:no-repeat;
    background-position:5px 3px;
    width: 26px;
    display: inline-block;
}

.amscheckout-shipping{
    width: 26px;
    display: inline-block;
}

/*.billing-img{
    background-image: url('../../../images/amasty/amscheckout/billing.png');
}

.shipping-img{
    background-image: url('../../../images/amasty/amscheckout/shipping.png');
}

.shipping-method-img{
    background-image: url('../../../images/amasty/amscheckout/shipping_method.png');
}

.payment-method-img{
    background-image: url('../../../images/amasty/amscheckout/payment_method.png');
}

.review-img{
    background-image: url('../../../images/amasty/amscheckout/review.png');
}

.coupon-img{
    background-image: url('../../../images/amasty/amscheckout/coupon.png');
}*/

.amscheckout select:focus,
.amscheckout-login input[type="text"]:focus,
.amscheckout input[type="text"]:focus{
    outline: none;
    
    background: #FFF;
}


.amscheckout select:hover,
.amscheckout-login input[type="text"]:hover,
.amscheckout input[type="text"]:hover{
    border: 1px solid #999;
    background: #FFF;
}

.amscheckout select:focus:hover,
.amscheckout-login input[type="text"]:focus:hover,
.amscheckout input[type="text"]:focus:hover{
    outline: none;
    background: #FFF;
}

.amscheckout-dologin,
.amscheckout-submit,
.amscheckout-apply{
    overflow: visible;
    width: auto;
    border: 0;
    padding: 0;
    margin: 0;
    background: #4d91d5;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    margin-top: 20px;
    -webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -ms-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
}
.amscheckout-submit:hover{
    background: #35699E;
}
.amscheckout-dologin span,
.amscheckout-submit span,
.amscheckout-apply span{
    
    text-align: center;
    white-space: nowrap;
    display: block;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}

.amscheckout-dologin{
    width: 100%;
    
}

.order-review-button{
    clear: both;
}

.order-review-button button{
    width: 100%;
    
}



.coupon-buttons button{
   height: 43px;
}

.coupon-buttons button span span{
    padding: 0px 10px;
}

.coupon-code{
    padding: 5px 0px;
    display: block;
}

.amscheckout-processing{
    background-image: url('../../../images/amasty/amscheckout/processing.gif');
    width: 66px;
    height: 66px;
    
    margin: 0 auto;
    position: relative;
    margin-bottom: -76px;
    float: right;
    top: 10px;
    right: 10px;
}

.amscheckout-loading{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.amscheckout-data-table{
    width: 100%;
}

.amscheckout .order-review{
    padding: 0;
}

.amscheckout-data-table tr td,
.amscheckout-data-table tr th{
    border: 0px;
    border-bottom: 1px solid #e2e2e2;
    padding: 7px 0px;
    vertical-align: middle;
    
}
.amscheckout-data-table tr td{
    border: none;
    width: 20%;
}
.amscheckout-data-table tr th {
    width: 20%;
}
.amscheckout-data-table tr th.prod-name{
    width: 55%;
}
.amscheckout-data-table tr td.a-center{
    text-align: center;
}
.amscheckout-data-table tr td.prod-name{
    width: 35%
}
.amscheckout-data-table tr td.prod-qty{
    width: 10%;
    font-size: 12px;
    font-family: neuton-regular;
}
.amscheckout-data-table tr th:last-child{
    padding-right: 10px;
}
.discount-coupon {
    clear: both;
    margin-bottom: 20px;
    margin-top: 20px;
}
#scroll-cart {
    max-height: 141px;
    width: 100%;
    overflow: auto;
    margin-bottom:20px;
}
.nicescroll-rails{
    border-right: 1px solid #e2e2e2;
    border-bottom: none !important;
}
.nicescroll-cursors{
    right: -6px;
}
.product-brand{
    display: block;
}

.amscheckout-data-table tr th{
    padding: 10px 0;
}
.amscheckout-data-table tr .a-right{
    text-align: right;
}
.amscheckout-data-table tr th.a-center{
    text-align: center;
}
.amscheckout-data-table tr.subtotal td,
.amscheckout-data-table tr.subtotal td .price{
    font-size: 20px;
    font-family: 'futura-medium';
}

.amscheckout-submit-button{
    padding-top: 20px;
}

.amscheckout-item{
    line-height: 15px;
}
#onepage-checkout-shipping-method-additional-load h4{
    margin-top: 10px;
}
.amscheckout .amscheckout-item .input-qty{
    margin: 0 3px;
    width: 35px;
}
.amscheckout-data-table tfoot td{
    font-size: 16px;
}
.amscheckout-data-table tfoot td:first-child{
    padding-right: 3px;
}
.checkout-onepage-index .col-main{
    width: 100%;
}
.amscheckout textarea,
.amscheckout select,
.amscheckout-login input[type="text"],
.amscheckout input[type="text"],
.amscheckout div.selector span{
    border:1px solid #b6b6b6;
}

.grid-full .amscheckout-main,
.grid-full .cart{
    margin-right: 2%;
}
.amscheckout-control {
    padding-right: 5px;
    padding-left: 5px;
}

.amscheckout caption, 
.amscheckout th, 
.amscheckout td, 
.amscheckout .data-table th, 
.amscheckout .data-table td{
    text-align: left;
}

.amscheckout-control>label[for="billing:month"]{
    display: none;
}

#co-payment-form{
    width: 100%;
}
.amscheckout .product-name img{
    float: left;
    padding-right: 5px;
    padding-bottom: 5px;
} 
.amscheckout .product-name{
    line-height: 16px;
}

.amscheckout-control .form-list .field{
    width: auto;
    float: none;
}

.amscheckout-control .form-list li{
    margin: 0;
    padding: 0;
}
.checkout-onepage-index div.selector{
    width: 100%;
}
.checkout-onepage-index div.selector span {
    top: 0;
    margin-bottom: 5px;
}
.checkout-onepage-index div.selector span{
    height: 25px;
}
.first-column label{
    display: none;
}
.first-column .amscheckout-label-radio{
    display: inline-block;
}
.amscheckout-control-radio{
    float: left;
    display: inline-block;
}
.first-column .amscheckout-label-radio{
    line-height: 15px;
    margin-left: 7px;
}
.amscheckout td.a-right{
    text-align: right;
}
tfoot{
    border-top: 1px solid #e1e1e1;
}
#checkout-shipping-method-load .sp-methods dt,
#checkout-shipping-method-load .sp-methods dd{
    float: left;
    width: 50%;
    padding-top: 0;
}
#checkout-shipping-method-load .sp-methods dd li{
    margin: 0;
}
#checkout-shipping-method-load .sp-methods dd label{
    padding-top: 0;
    min-width: auto;
}
.amscheckout input.input-text::-webkit-input-placeholder {
    color:    #000;
}
.amscheckout input.input-text:-moz-placeholder {
    color:    #000;
    opacity:  1;
}
.amscheckout input.input-text::-moz-placeholder {
    color:    #000;
    opacity:  1;
}
.amscheckout input.input-text:-ms-input-placeholder {
    color:    #000;
}

#co-billing-form li {
    list-style: none;
}
#co-billing-form li.billing-row{
    margin-top: 20px;
}

.amscheckout-submit-button{
    font-size: 18px;
}
.amscheckout-submit-button a{
    text-decoration: underline;
    color: #000;
}
input#coupon_code{
    background: #f7f7f7;
    font-size: 12px;
    border: none;
    height: 43px;
    padding: 11px 10px 7px;
}

input#coupon_code::-webkit-input-placeholder {
    text-transform: uppercase;
    color: #333;
}
input#coupon_code:-moz-placeholder {
    text-transform: uppercase;
    color: #333;
}
input#coupon_code::-moz-placeholder {
    text-transform: uppercase;
    color: #333;
}
input#coupon_code:-ms-input-placeholder {
    text-transform: uppercase;
    color: #333;
}
.coupon-buttons button{
    font-size: 20px;
}
#amscheckout-onepage .discount-coupon{
    margin-bottom: 0;
}
/*
spiner
*/
.amscheckout-loading{
    background: rgba(0,0,0,0.5);
}

.checkout-onepage-index div#shipping_area > div {
    margin-left: -5px;
    margin-right: -4px;
}
#onepage-checkout-shipping-method-additional-load h3 {
    display: block;
    clear: both;
    width: 100%;
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .amscheckout-data-table tr th:last-child{
        padding-right: 0px;
    }
}
@media only screen and (max-width: 767px) {
    .amscheckout .three-columns .first-column,
    .amscheckout .three-columns .second-column,
    .amscheckout .three-columns .third-column {
        width: 100%;
    }

    .amscheckout-img{
        width: 25px;
        height: 25px;
    }
    .amscheckout-login input.input-text, .amscheckout input.input-text, .amscheckout select,
    .amscheckout .amscheckout-label-radio,
    .checkbox + label, .radio + label,
    .checkout-onepage-index .amscheckout-main{
        font-size: 10px;
    }
    .amscheckout-data-table tfoot td,
    .amscheckout-submit-button,
    .amscheckout .area-header{
        font-size: 12px;
    }
    .amscheckout-data-table tr td,
    .amscheckout-data-table tr th{
        padding: 3px 0;
    }
    p.required, .validation-advice{
        font-size: 9px;
    }
    .coupon-buttons button,
    .amscheckout-data-table tr.subtotal td,
    .amscheckout-data-table tr.subtotal td .price{
        font-size: 16px;
    }
    .amscheckout-review{
        background-position: 1px -1px;
    }

}