<?xml version="1.0"?>
<config>
	<modules>
		<Extendware_EWAutoSwitcher>
			<version>1.2.1</version>
			<extendware>
	            <copyright_holder>extendware</copyright_holder>
	            <configure_url>extendware_ewautoswitcher/adminhtml_config/index</configure_url>
            </extendware>
		</Extendware_EWAutoSwitcher>
	</modules>
	<admin>
        <routers>
			<extendware_ewautoswitcher>
				<use>admin</use>
				<args>
					<module>Extendware_EWAutoSwitcher</module>
					<frontName>extendware_ewautoswitcher</frontName>
				</args>
			</extendware_ewautoswitcher>
        </routers>
    </admin>
    <adminhtml>
    	<translate>
			<modules>
				<Extendware_EWAutoSwitcher>
					<files>
						<default>extendware/Extendware_EWAutoSwitcher.csv</default>
					</files>
				</Extendware_EWAutoSwitcher>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewautoswitcher>
					<file>extendware/ewautoswitcher.xml</file>
				</ewautoswitcher>
			</updates>
		</layout>
		<routers></routers>
	</adminhtml>
	<frontend>
		<translate>
			<modules>
				<Extendware_EWAutoSwitcher>
					<files>
						<default>extendware/Extendware_EWAutoSwitcher.csv</default>
					</files>
				</Extendware_EWAutoSwitcher>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewautoswitcher>
					<file>extendware/ewautoswitcher.xml</file>
				</ewautoswitcher>
			</updates>
		</layout>
		<routers>
			<ewautoswitcher>
				<use>standard</use>
				<args>
					<module>Extendware_EWAutoSwitcher</module>
					<frontName>ewautoswitcher</frontName>
				</args>
			</ewautoswitcher>
        </routers>
        <events>
        	<controller_action_predispatch>
                <observers>
                    <extendware_ewautoswitcher>
                        <class>ewautoswitcher/observer_frontend</class>
                        <method>processPreDispatch</method>
                    </extendware_ewautoswitcher>
                </observers>
            </controller_action_predispatch>
        </events>
    </frontend>
	<global>
		<models>
			<ewautoswitcher>
				<class>Extendware_EWAutoSwitcher_Model</class>
				<resourceModel>ewautoswitcher_resource</resourceModel>
			</ewautoswitcher>
			<ewautoswitcher_resource>
                <class>Extendware_EWAutoSwitcher_Model_Resource</class>
                <entities>
                    <store_rule>
                        <table>ewautoswitcher_store_rule</table>
                    </store_rule>
                    <currency_rule>
                        <table>ewautoswitcher_currency_rule</table>
                    </currency_rule>
                </entities>
            </ewautoswitcher_resource>
		</models>
		<blocks>
			<ewautoswitcher>
                <class>Extendware_EWAutoSwitcher_Block</class>
            </ewautoswitcher>
		</blocks>
		<helpers>
			<ewautoswitcher>
				<class>Extendware_EWAutoSwitcher_Helper</class>
			</ewautoswitcher>
		</helpers>
		<resources>
			<ewautoswitcher_setup>
				<setup>
					<module>Extendware_EWAutoSwitcher</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</ewautoswitcher_setup>
			<ewautoswitcher_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ewautoswitcher_write>
            <ewautoswitcher_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ewautoswitcher_read>
		</resources>
		<events></events>
		<template></template>
	</global>
	<input></input>
	<crontab>
		<ewautoswitcher_initiateConfig>
            <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
            <run><model>ewautoswitcher/observer_cronjob::initiateConfig</model></run>
        </ewautoswitcher_initiateConfig>
	</crontab>
	<default>
		<ewautoswitcher>
			<general>
				<enabled>1</enabled>
				<blocked_user_agents>a:1:{s:18:"_1378413868576_576";a:2:{s:5:"group";s:11:"FPC Crawler";s:6:"regexp";s:11:"/EWCrawler/";}}</blocked_user_agents>
				<ip_mode>remote_addr</ip_mode>
				<currency_param>__currency</currency_param>
			</general>
		</ewautoswitcher>
	</default>
	<extendware></extendware>
</config>
