<?xml version="1.0"?>
<config>
    <modules>
        <KJB_Setup>
            <version>1.0.3</version>
        </KJB_Setup>
    </modules>
    <frontend>
        <routers>
            <kjbsetup>
                <use>standard</use>
                <args>
                    <module>KJB_Setup</module>
                    <frontName>kjbsetup</frontName>
                </args>
            </kjbsetup>
        </routers>
        <layout>
            <updates>
                <kjbsetup>
                    <file>kjbsetup.xml</file>
                </kjbsetup>
            </updates>
        </layout>
        <translate>
			<modules>
				<KJB_Setup>
					<files>
						<default>KJB_Setup.csv</default>
					</files>
				</KJB_Setup>
			</modules>
		</translate>
    </frontend>
    
    <admin>
        <routers>
			<kjbsetup>
				<use>admin</use>
				<args>
					<module>KJB_Setup</module>
					<frontName>kjbsetup</frontName>
				</args>
			</kjbsetup>
        </routers>
    </admin>
    
    <adminhtml>
		<acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                        	<children>
                        		<config>
                        			<children>
	                        			<kjbsetup translate="title" module="kjbsetup">
	                        				<title>Web-form Question</title>
	                        			</kjbsetup>
                        			</children>
                        		</config>
                        	</children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>   
    
    <global>
        <models>
            <kjbsetup>
                <class>KJB_Setup_Model</class>
                <resourceModel>kjbsetup_mysql4</resourceModel>
            </kjbsetup>
            <kjbsetup_mysql4>
                <class>KJB_Setup_Model_Mysql4</class>
            </kjbsetup_mysql4>
        </models>
        <resources>
            <kjbsetup_setup>
                <setup>
                    <module>KJB_Setup</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </kjbsetup_setup>
            <kjbsetup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </kjbsetup_write>
            <kjbsetup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </kjbsetup_read>
        </resources>
        <blocks>
            <kjbsetup>
                <class>KJB_Setup_Block</class>
            </kjbsetup>
        </blocks>
        <helpers>
            <kjbsetup>
                <class>KJB_Setup_Helper</class>
            </kjbsetup>
        </helpers>

        <!-- email template -->
        <template>
            <email>
                <kjbsetup_general_template_question_email translate="label" module="kjbsetup">
                    <label>Question Email</label>
                    <file>kjb_send_question_email.html</file>
                    <type>html</type>
                </kjbsetup_general_template_question_email>
            </email>
        </template>
    </global>

    <default>
        <kjbsetup>
            <general>
                <template_question_email>kjbsetup_general_template_question_email</template_question_email>
                <subject_email>Web-form "Question"</subject_email>
            </general>
        </kjbsetup>
    </default>
    
</config>