<?xml version="1.0"?>
<!--
/**
 *
 * @category    Trmmarketing
 * @package     Trmmarketing_PopupWidgets
 * @copyright   Copyright (c) 2013 TRM Marketing LLC
 * @license     http://www.trm-marketing.com/solutions/license/TRM-Marketing-Standard-License-Agreement.html
 */
-->
<config>
    <modules>
        <Trmmarketing_PopupWidgets>
            <version>2.3.3</version>
        </Trmmarketing_PopupWidgets>
    </modules>
    <global>
        <helpers>
            <popupwidgets>
                <class>Trmmarketing_PopupWidgets_Helper</class>
            </popupwidgets>
        </helpers>
        <blocks>
             <popupwidgets>
                <class>Trmmarketing_PopupWidgets_Block</class>
             </popupwidgets>
        </blocks>
        <models>
             <popupwidgets>
                <class>Trmmarketing_PopupWidgets_Model</class>
             </popupwidgets>
        </models>
    </global>
</config>
