<?xml version="1.0"?>
<config>
	<modules>
		<Extendware_EWCookieMessage>
			<version>1.0.7</version>
			<extendware>
	            <copyright_holder>extendware</copyright_holder>
	            <configure_url>extendware_ewcookiemessage/adminhtml_config/index</configure_url>
            </extendware>
		</Extendware_EWCookieMessage>
	</modules>
	<admin>
        <routers>
			<extendware_ewcookiemessage>
				<use>admin</use>
				<args>
					<module>Extendware_EWCookieMessage</module>
					<frontName>extendware_ewcookiemessage</frontName>
				</args>
			</extendware_ewcookiemessage>
        </routers>
    </admin>
    <adminhtml>
    	<translate>
			<modules>
				<Extendware_EWCookieMessage>
					<files>
						<default>extendware/Extendware_EWCookieMessage.csv</default>
					</files>
				</Extendware_EWCookieMessage>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewcookiemessage>
					<file>extendware/ewcookiemessage.xml</file>
				</ewcookiemessage>
			</updates>
		</layout>
		<routers></routers>
	</adminhtml>
	<frontend>
		<translate>
			<modules>
				<Extendware_EWCookieMessage>
					<files>
						<default>extendware/Extendware_EWCookieMessage.csv</default>
					</files>
				</Extendware_EWCookieMessage>
			</modules>
		</translate>
		<layout>
			<updates>
				<ewcookiemessage>
					<file>extendware/ewcookiemessage.xml</file>
				</ewcookiemessage>
			</updates>
		</layout>
		<routers>
			<ewcookiemessage>
				<use>standard</use>
				<args>
					<module>Extendware_EWCookieMessage</module>
					<frontName>ewcookiemessage</frontName>
				</args>
			</ewcookiemessage>
        </routers>
        <events></events>
    </frontend>
	<global>
		<models>
			<ewcookiemessage>
				<class>Extendware_EWCookieMessage_Model</class>
				<resourceModel>ewcookiemessage_resource</resourceModel>
			</ewcookiemessage>
			<ewcookiemessage_resource>
                <class>Extendware_EWCookieMessage_Model_Resource</class>
                <entities>
                    <message_rule>
                        <table>ewcookiemessage_message_rule</table>
                    </message_rule>
                </entities>
            </ewcookiemessage_resource>
		</models>
		<blocks>
			<ewcookiemessage>
                <class>Extendware_EWCookieMessage_Block</class>
            </ewcookiemessage>
		</blocks>
		<helpers>
			<ewcookiemessage>
				<class>Extendware_EWCookieMessage_Helper</class>
			</ewcookiemessage>
		</helpers>
		<resources>
			<ewcookiemessage_setup>
				<setup>
					<module>Extendware_EWCookieMessage</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</ewcookiemessage_setup>
			<ewcookiemessage_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ewcookiemessage_write>
            <ewcookiemessage_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ewcookiemessage_read>
		</resources>
		<events></events>
		<template></template>
	</global>
	<input></input>
	<crontab>
		<ewcookiemessage_initiateConfig>
            <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
            <run><model>ewcookiemessage/observer_cronjob::initiateConfig</model></run>
        </ewcookiemessage_initiateConfig>
	</crontab>
	<default>
		<ewcookiemessage>
			<general>
				<enabled>1</enabled>
				<ip_mode>remote_addr</ip_mode>
			</general>
		</ewcookiemessage>
	</default>
	<extendware></extendware>
</config>
